<div class="fileinput text-center">
  <input type="file" (change)="handleImageChange($event)" #fileInput />
  <div class="thumbnail img-circle">
    <img src="{{ imagePreviewUrl }}" alt="..." />
  </div>
  <div>
    <button *ngIf="file === null && avatar === ''" class="btn-round btn btn-primary" (click)="handleClick()">
      Agregar
    </button>
    <span *ngIf="file !== null">
      <button class="btn-round btn btn-primary" (click)="handleClick()">
        Subir
      </button>
      <br *ngIf="avatar !== ''" />
      <button class="btn-round btn btn-danger " (click)="handleRemove()">
        <i class="fa fa-times"></i> Eliminar
      </button>
    </span>
  </div>
</div>