<div class="content admin-area-page">
  <div class="row admin-area-breadcrumb-row">
    <div class="col-12">
      <nav aria-label="Migas de pan">
        <ol class="breadcrumb bg-transparent mb-0 px-0">
          <li class="breadcrumb-item text-primary">
            <a routerLink="/home">Inicio</a>
          </li>
          <li class="breadcrumb-item text-primary">
            <a routerLink="/funding-program/home">Área trading</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Próximamente</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mb-0">
        <span class="badge badge-primary">Próximamente</span>
      </h2>
    </div>
  </div>
</div>
