<div class=" content">
    <div class=" row">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item text-primary">Dashboard</li>
            <li class=" breadcrumb-item active">Dudas y consultas</li>
        </ol>
        <div class="col-md-12">
            <div class="offset-md-1 col-md-8">
                <div class="col-md-12">
                    <h3 class=" card-title">PREGUNTAS</h3>

                    <div class="card p-4">
                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <button class="btn btn-simple btn-primary mr-2">Día</button>
                                <button class="btn btn-simple btn-primary mr-2">Semana</button>
                                <button class="btn btn-simple btn-primary mr-2">Mes</button>
                            </div>
                            <div>
                                <button class="btn btn btn-danger mr-2">Sin resolver</button>
                                <button class="btn btn-simple btn-primary mr-2">Resueltas</button>
                            </div>
                        </div>

                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <h5>Preguntas (6)</h5>
                        </div>
                        <div class="card p-3">

                            <div class="d-flex justify-content-between align-items-center">
                                <div class=" d-flex flex-row align-items-start">
                                    <img src="https://i.imgur.com/hczKIze.jpg" width="40"
                                        class="user-img rounded-circle mr-2">
                                    <span class="m-0 p-0">
                                        <small class="font-weight-bold m-0 p-0 text-primary">james_olesenn</small> <br>
                                        <div class="d-block">
                                            <small class="text-right">2 de agosto 2020</small>
                                        </div>
                                        <p class="text-white m-0 p-o">Lorem ipsum dolor sit amet consectetur,
                                            adipisicing
                                            elit. Adipisci et labore obcaecati nesciunt iure similique, cum expedita
                                            optio
                                            esse delectus temporibus quidem voluptas nulla vero libero officiis sequi
                                            molestiae aperiam. </p>
                                        <hr class="text-left">
                                        <div class="form-group">
                                            <label for="response"> Respuesta </label>

                                            <textarea class="form-control" id="response" rows="3" class="form-control"
                                                placeholder="" formControlName="first_name"></textarea>

                                        </div>
                                        <!-- <ng-container *ngFor="let validation of validationMessages.first_name">
                                            <small class="text-danger d-block" *ngIf="updateForm.get('first_name').hasError(validation.type) &&
                                                  (updateForm.get('first_name').dirty || updateForm.get('first_name').touched) ">
                                              {{validation.message}}
                                            </small>
                                          </ng-container> -->
                                        <button class="btn btn-primary btn-sm ">Responder</button>
                                    </span>

                                </div>
                            </div>

                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>