.content {
    background-image: url('https://res.cloudinary.com/ddw7odxzr/image/upload/v1696042471/webapp/FONDO_zftidw.jpg') !important;
}

.shadow {
    border-radius: 10px;
}

.card {
    background-color: white !important;
    border-radius: 10px !important;
}

.card-title { 
    font-size: 3em !important;
    font-weight: 600 !important;
    color: var(--secondary) !important;
}

hr {
    width: 70% !important;
    border-radius: 1px !important;
    border-bottom: 1px solid !important;
    color: var(--primary) !important;
}

.form-control {
    border-width: 1px !important;
    border-radius: 10px !important;
}

label {
    color: var(--secondary) !important;
    font-size: 1.2em !important;
}

.wrapper {
    overflow-y: scroll;
}

.card {
    border: none;
    border-radius: 4px;
    width: 100% !important;
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.icons i {
    margin-left: 8px
}

.w {
    width: 100% !important;
}