<div class=" content">
    <div class=" row">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item text-primary">
                <a routerLink="/dashboard">
                    Dashboard
                </a>
            </li>
            <li class=" breadcrumb-item">
                Dudas y consultas
            </li>
        </ol>
        <div class="col-md-12">
            <div class="offset-md-1 col-md-8">
                <div class="col-md-12">
                    <h3 class=" card-title">PREGUNTAS</h3>

                    <div class="card p-4">
                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <!-- <div>
                                <button class="btn btn-simple btn-primary mr-2">Día</button>
                                <button class="btn btn-simple btn-primary mr-2">Semana</button>
                                <button class="btn btn-simple btn-primary mr-2">Mes</button>
                            </div> -->
                            <!-- <div>
                                <button class="btn btn btn-danger mr-2">Sin resolver</button>
                                <button class="btn btn-simple btn-primary mr-2">Resueltas</button>
                            </div> -->
                        </div>

                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <h5>Preguntas ({{unansweredQuestion.length}})</h5>
                        </div>
                        <div class="card p-3">

                            <ng-container *ngFor="let c of unansweredQuestion">
                                <div class=" mt-3">
                                    <div class=" d-flex flex-row align-items-start">
                                        <img [src]="c?.author?.image_profile  !== '' ? c?.author?.image_profile : 'assets/img/placeholder.jpg'"
                                            width="40" class="user-img rounded-circle mr-2">
                                        <span class="m-0 p-0 w">
                                            <small
                                                class="font-weight-bold m-0 p-0 text-primary">{{ (c?.author?.first_name ? c?.author?.first_name : 'User ' + c.id) | titlecase}}</small>
                                            <br>
                                            <div class="d-block">
                                                <small class="text-right">{{ c?.created_at | date}} </small>
                                            </div>
                                            <p class="text-white m-0 p-o"> {{ c?.body }}. </p>
                                            <hr class="text-left">
                                            <ng-container *ngIf="c">
                                                <app-reply-comment [comment]="c"
                                                    (loadUnanswered)="getUnansweredQuestions()"></app-reply-comment>
                                            </ng-container>
                                        </span>

                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>