.content {
    background-image: url('https://res.cloudinary.com/app-intcapex-com/image/upload/v1655598112/assets/fondo_fyiehj.jpg') !important;
}

.class-user {
    padding: 80px 30px 30px 80px !important;
}

.card {
    background-color: rgb(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}

.card-title {
    font-size: 3em !important;
    font-weight: 600 !important;
    color: var(--secondary) !important;
}

hr {
    width: 70% !important;
    border-radius: 1px !important;
    border-bottom: 1px solid !important;
    color: var(--cyan) !important;
}

.form-control {
    border-width: 1px !important;
    border-radius: 10px !important;
}

label {
    color: var(--primary) !important;
    font-size: 1.2em !important;
}

.wrapper {
    overflow-y: scroll;
}
.card {
    border: none;
    border-radius: 4px;
    width: 100% !important;
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.icons i {
    margin-left: 8px
}


.w {
    width: 100% !important;
}