
.card {
    padding: 20px !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.card-title {
    font-size: 2em !important;
    font-weight: 500 !important;
    color: var(--secondary) !important;
}
.subtitle {
    font-size: 1.7em !important;
    font-weight: 500 !important;
    color: var(--secondary) !important;
}

.border-right {
    border-right: 2px solid var(--cyan);
}


.seen {
    color: var(--primary) !important;
}
.no-seen {
    color: var(--default) !important;
}

.units {
    overflow-y: auto;
}

h6 {
    color: var(--primary) !important;
}
