<div class=" content">
    <div class="row">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item text-primary">
                <a [routerLink]="['/home']">
                    Home
                </a>
            </li>
            <li class=" breadcrumb-item text-primary">
                <a href="javascript:void(0)" (click)="seeCourse()">
                    Curso
                </a>
            </li>
            <li class=" breadcrumb-item active">{{ topic?.course_name }}</li>
        </ol>
        <div class="col-12 p-0 m-0">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="card">
                            <div class="card-title">{{ topic?.module_name | titlecase }}</div>
                            <div class="video-player-wrapper">
                                <vg-player>
                                    <vg-overlay-play></vg-overlay-play>
                                    <vg-buffering></vg-buffering>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                    </vg-scrub-bar>
                                    <vg-controls>
                                        <vg-play-pause></vg-play-pause>
                                        <vg-playback-button></vg-playback-button>
                                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                                        <vg-mute></vg-mute>
                                        <vg-volume></vg-volume>
                                        <vg-fullscreen></vg-fullscreen>
                                    </vg-controls>
                                    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto"
                                        [src]="source | async" type="video/mp4" crossorigin>
                                    </video>
                                </vg-player>
                            </div>

                            <div class="">
                                <button class="btn btn-primary btn-simple" [ngClass]="previus === null ? 'd-none': ''"
                                    (click)="previusClass()">Anterior</button>
                                <button class="btn btn-primary" [ngClass]="next === null ? 'd-none': ''"
                                    (click)="nextClass()">Siguiente</button>
                            </div>
                        </div>
                        <div>
                            <h1 class="subtitle mb-1">{{topic?.title | titlecase}}</h1>
                            <p>{{topic?.description | titlecase}}</p>
                            <div class="row mt-4 ">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
                                    <h4 class="text-primary">Recursos Adicionales</h4>
                                    <ng-container *ngFor="let f of topic.files">
                                        <div class="card mb-3">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1651256384/assets/icono-descargar-2_vibcgp.png"
                                                        alt="">
                                                </div>
                                                <div class="col-9 d-flex align-items-center">
                                                    <a [href]="f.url" target="_blank" download>
                                                        <small class="text-white">{{ f?.name }}</small>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div class="d-block">
                                        <h4 class="text-primary">Links de Descargas</h4>
                                        <ng-container *ngFor="let l of topic.links">
                                            <div class="mb-3">
                                                <p class="h5 m-0 p-0 text-primary">{{l.title | slice:0:40}}:</p>
                                                <a [href]="l.link" target="_blank">
                                                    <small class="text-white">{{l.link | slice:0:40}}</small>
                                                </a>
                                            </div>
                                        </ng-container>

                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="card units">
                                        <h6>Unidades</h6>
                                        <ng-container *ngFor="let c of allClass; index as i">
                                            <a href="javascript:void(0)" class="mb-2" [ngClass]=" c.seen ? 'seen' : 'no-seen' " (click)="setClass(c.id)">
                                                {{(i+1) +' '+ c.title }}
                                            </a>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <ng-container *ngIf="topic.comments">
                            <app-topic-comments  [comments]="topic?.comments"></app-topic-comments>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>