.content {
    background-image: url('https://res.cloudinary.com/mistrades-com/image/upload/v1649870836/assets/fondo_r7arg0.jpg') !important;
}

.card {
    padding: 20px !important;
    background-color: rgb(0, 0, 0, 0.55) !important;
    border-radius: 10px !important;
}

.card-title {
    font-size: 2em !important;
    font-weight: 500 !important;
    color: var(--primary) !important;
}
.subtitle {
    font-size: 1.7em !important;
    font-weight: 500 !important;
    color: var(--primary) !important;
}

.border-right {
    border-right: 2px solid var(--gray);
}


// .video-player-wrapper {
//     max-width: 800px;
//     text-align: center;
//     margin: 0 auto;
// }
// .player-list {
//    margin: 0;
//    padding: 0;
// }
// .player-list li {
//    list-style: none;
//    padding: 15px 35px;
//    display: block;
//    background: #cccc;
//    cursor: pointer;
//    text-align: left;
//    margin-bottom: 1px;
// }
// li.selected {
//     background: #03A9F4 !important;
// }