.content {
    background-image: url('https://res.cloudinary.com/app-intcapex-com/image/upload/v1655598112/assets/fondo_fyiehj.jpg') !important;
}

.class-user {
    padding: 80px 30px 30px 80px !important;
}

.card {
    padding: 20px !important;
    background-color: rgb(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}

.card-title {
    font-size: 2em !important;
    font-weight: 500 !important;
    color: var(--secondary) !important;
}
.subtitle {
    font-size: 1.7em !important;
    font-weight: 500 !important;
    color: var(--secondary) !important;
}

.border-right {
    border-right: 2px solid var(--cyan);
}


.seen {
    color: var(--primary) !important;
}
.no-seen {
    color: var(--default) !important;
}

.units {
    overflow-y: auto;
}