.full-page {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-image: url('https://res.cloudinary.com/ddw7odxzr/image/upload/v1696042471/webapp/FONDO_zftidw.jpg') !important;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 286px; 
    border-bottom: #979797 solid 1px;
    padding-bottom: 0;
    color: #000;
}

::-webkit-scrollbar {
    display: none;
}

.card-title {
    font-weight: 400 !important;
    color: #000 !important;
    margin-top: 50px !important;
    font-size: 1.7rem !important;
    text-transform: uppercase !important;
}

.container-form {
    height: 100vh;
    background-color: #ffff;
    overflow: auto;
}

.form {
    padding-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.logo img {
    width: 30%;
}

.rounded-pill {
    border-radius: 10px !important;
}

.link {
    color: #000 !important;
}


@media only screen and (max-width: 600px) {
    .card-title {
        margin-top: 20px !important;
        font-size: 40px !important;
    }
    .card-header {
        height: 100px !important;
    }
    .logo {
        padding-left: 30px !important;
    }
}