<div class="full-page register-page">
  <div class=" content">
    <div class=" container">
      <div class=" row">
        <div class=" col-md-5 ml-auto">
          <div class=" info-area info-horizontal mt-5">
            <div class=" icon icon-warning">
              <i class=" tim-icons icon-chart-bar-32"> </i>
            </div>
            <div class=" description">
              <h3 class=" info-title">Invierte en mercados financieros</h3>
              <p class=" description">
                Te ayudaremos a iniciar en el mundo del trading guiandote en tu proceso.
              </p>
            </div>
          </div>
          <div class=" info-area info-horizontal">
            <div class=" icon icon-primary">
              <i class=" tim-icons icon-vector"> </i>
            </div>
            <div class=" description">
              <h3 class=" info-title">Educación profesional personalizada</h3>
              <p class=" description">
                Nuestros Traders estarán disponibles para ayudarte en todo momento.
              </p>
            </div>
          </div>
          <div class=" info-area info-horizontal">
            <div class=" icon icon-info">
              <i class=" tim-icons icon-money-coins"> </i>
            </div>
            <div class=" description">
              <h3 class=" info-title">
                Forex, Crypto, Índices sintéticos</h3>
              <p class=" description">
                Nuestros equipo analiza el mercado buscando las mejores oportunidades de inversión.
              </p>
            </div>
          </div>
        </div>
        <div class=" col-md-7 mr-auto">
          <div class=" card card-register card-white">
            <div class=" card-header">
              <img alt="Card image" class=" card-img" src="assets/img/card-primary.png" />

              <h4 class=" card-title">Registro</h4>
            </div>
            <div class=" card-body">
              <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" role="form">

                <div class="row">

                  <div class="col-6">
                    <div class=" input-group" [ngClass]="{ 'input-group-focus': focus2 === true }">

                      <div class=" input-group-prepend">
                        <div class=" input-group-text">
                          <i class=" tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input class=" form-control" formControlName="first_name" placeholder="Nombres" type="text"
                        (blur)="focus2 = false" (focus)="focus2 = true" required />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class=" input-group" [ngClass]="{ 'input-group-focus': focus4 === true }">
                      <div class=" input-group-prepend">
                        <div class=" input-group-text">
                          <i class=" tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input class=" form-control" formControlName="last_name" placeholder="Apellidos" type="text"
                        (blur)="focus4 = false" (focus)="focus4 = true" required />
                    </div>
                  </div>

                </div>

                <ng-container>
                  <ng-container *ngFor="let validation of validationMessages.first_name">
                    <small class="text-danger d-block" *ngIf="registerForm.get('first_name').hasError(validation.type) &&
                        (registerForm.get('first_name').dirty || registerForm.get('first_name').touched) ">
                      {{validation.message}}
                    </small>
                  </ng-container>
                  <ng-container *ngFor="let validation of validationMessages.last_name">
                    <small class="text-danger d-block" *ngIf="registerForm.get('last_name').hasError(validation.type) &&
                    (registerForm.get('last_name').dirty || registerForm.get('last_name').touched) ">
                      {{validation.message}}
                    </small>
                  </ng-container>
                </ng-container>

                <div class=" input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input class=" form-control" formControlName="email" placeholder="Email" type="text"
                    (blur)="focus = false" (focus)="focus = true" />
                </div>

                <ng-container *ngFor="let validation of validationMessages.email">
                  <small class="text-danger" *ngIf="registerForm.get('email').hasError(validation.type) &&
                  (registerForm.get('email').dirty || registerForm.get('email').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>

                <div class=" input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-lock-circle"> </i>
                    </div>
                  </div>
                  <input class=" form-control" formControlName="password" placeholder="Contraseña" type="password"
                    (blur)="focus1 = false" (focus)="focus1 = true" />
                </div>

                <ng-container *ngFor="let validation of validationMessages.password">
                  <small class="text-danger" *ngIf="registerForm.get('password').hasError(validation.type) &&
                  (registerForm.get('password').dirty || registerForm.get('password').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>

                <!-- <div class=" form-check text-left">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> I agree to the
                    <a href="javascript:void(0)"> terms and conditions </a> .
                  </label>
                </div> -->
                <ng-container *ngIf="errorMessage">
                  <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small> <br>
                </ng-container>

                <div class=" card-footer">
                  <button class=" btn btn-primary btn-round btn-lg" [disabled]="registerForm.invalid" type="submit" >
                    Registrarse
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>