<div class="content">
    <ol class="breadcrumb bg-transparent ml-3">
      <li class="breadcrumb-item">Area trading</li>
      <li class="breadcrumb-item text-primary">
        <a routerLink="/funding-program/home"> Inicio </a>
      </li>
      <li class="breadcrumb-item text-primary">
        <a routerLink="/funding-program/orders"> Ordenes </a>
      </li>
      <li class="breadcrumb-item">Pago</li>
    </ol>
    <div class="col-lg-7 col-md-5"> 
      <div class="card card-stats shadow text-center">
        <div class="card-body">
          <div class="row container-title">
            <div class="col-11 text-left">
              <h2 class="card-title pb-2">Pagar ordén <strong>#</strong> {{productID}} ICEX AG</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-5 ml-3 container-credit-card">
              <stripe-card 
                #stripeCard
                (catch)="onStripeError($event)"
                [(invalid)]="invalidError"
                (cardMounted)="cardCaptureReady = true"
                (paymentMethodChange)="setPaymentMethod($event)"
                (tokenChange)="setStripeToken($event)"
                (sourceChange)="setStripeSource($event)"
                [options]="cardOptions"
                class="stripe-card"
              ></stripe-card>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <p class="text-left" >Nombre: <span> {{selectedOrder.first_name + ' ' + selectedOrder.last_name }} </span> </p>
                </div>
                <div class="col-12">
                  <p class="text-left" >Email: <span> {{selectedOrder.email}} </span> </p>
                </div>
              </div>
              <div class="row">
                <div class="col-10 mx-auto pt-3">
                  <button
                    class="btn btn-secondary btn-block mb-3"
                    (click)="stripeCard.createToken($event)"
                  >
                    Pagar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer mb-3 mt-2">
          <div *ngIf="invalidError" style="color: red">
            {{ invalidError.message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  