<div class="content admin-area-page">
  <div class="row admin-area-breadcrumb-row">
    <div class="col-12">
      <nav aria-label="Migas de pan">
        <ol class="breadcrumb bg-transparent mb-0 px-0">
          <li class="breadcrumb-item text-primary">
            <a routerLink="/funding-program/home">Inicio</a>
          </li>
          <li class="breadcrumb-item text-primary">
            <a routerLink="/funding-program/create-order">Nuevo paquete</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Pago</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row pl-2 pr-2">
    <div class="col-lg-10 col-md-6"> 
      <div class="card card-stats shadow text-center ">
        <div class="card-body">
          <div class="row container-title ">
            <div class="col-8">
              <h2 class="card-title mt-2 mb-1 text-left">Datos de Facturación | Ordén Recibida</h2>
            </div>
            <div class="col-4">
              <img src="https://res.cloudinary.com/app-intcapex-com/image/upload/v1680689760/LOGO_LOGIN-30_xmssxz.svg" alt="" width="150px">
            </div>
          </div>
          <div class="row mt-3 mb-3 pb-3 container-info">
            <div class="col-7 ">
              <div class="row">
                <div class="col-5">
                  <p class="text-left" > <strong> Número de órden: </strong> 
                    <span> {{ selectedOrder.id }} </span>
                  </p> 
                </div> 
                <div class="col-7">
                  <p class="text-left" > <strong> Tamaño de la cuenta: </strong> 
                    <span> {{ '$ ' + selectedOrder.balance }} {{ selectedOrder.currencies | uppercase }}</span> 
                  </p> 
                </div>
                <!-- <div class="col-5">
                  <p class="text-left" > <strong> Típo de cuenta: </strong> 
                    <span> {{ selectedOrder.account_type | uppercase }}</span> 
                  </p> 
                </div> -->
                <!-- <div class="col-7">
                  <p class="text-left" > <strong> Plataforma: </strong> 
                    <span> MetaTrader 5 </span> 
                  </p> 
                </div> -->
                <div class="col-5">
                  <p class="text-left" > <strong> Nombre: </strong> 
                    <span> {{ selectedOrder.first_name + ' ' + selectedOrder.last_name  }}</span> 
                  </p> 
                </div>
                <div class="col-7">
                  <p class="text-left" > <strong> Dirección: </strong> 
                    <span> av 100pre viva 123 </span> 
                  </p> 
                </div>
                <div class="col-5">
                  <p class="text-left" > <strong> País:  </strong> 
                    <span> {{ selectedOrder.country  }}</span> 
                  </p> 
                </div>
                <div class="col-7">
                  <p class="text-left" > <strong> Ciudad:</strong> 
                    <span> {{  selectedOrder.city }} </span> 
                  </p> 
                </div>
                <div class="col-5">
                  <p class="text-left" > <strong> Código Postal:  </strong> 
                    <span> {{ selectedOrder.postal_code }} </span> 
                  </p> 
                </div>
                <div class="col-7">
                  <p class="text-left" > <strong> Telefono:</strong> 
                    <span> {{  selectedOrder.phone_number }} </span> 
                  </p> 
                </div>
              </div>
              
            </div>

            <div class="col-5">
              <div class="row bg-label mt-3 mb-2 mr-2  ">
                <div class="col-2 my-auto">
                  <img 
                  src="https://res.cloudinary.com/app-intcapex-com/image/upload/v1682476124/email_b0aiqe.svg" >
                </div>
                <div class="col-10">
                  <div class="row">
                    <p class="text-left" > <strong> Correo: </strong> </p>
                  </div>
                  <div class="row">
                    <span class="text-right" > {{ selectedOrder.email }}</span>
                  </div>
                </div>
              </div>
              <div class="row bg-label mt-2 mr-2">
                <div class="col-2 my-auto">
                  <img 
                    src="https://res.cloudinary.com/app-intcapex-com/image/upload/v1682476125/valor-challenge_uyqzmc.svg" 
                    alt="">
                </div>
                <div class="col-10">
                  <div class="row">
                    <p class="text-left" > <strong>Valor del Challenge:</strong> </p>
                  </div>
                  <div class="row">
                    <span class="text-right" > {{ '$' + selectedOrder?.value  + ' USD' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12"> 
      <div class="card card-stats shadow text-center">
        <div class="card-body">
          <div class="row container-title">
            <div class="col-10 text-left mx-auto">
              <h2 class="card-title pb-2">Pagar con Stripe</h2>
            </div>
            <div class="col-2">
              <img src="https://1000marcas.net/wp-content/uploads/2019/12/VISA-Logo.png" width="100px" >
            </div>
          </div>
          <div class="row ">
            <div class="col-12  p-3 mt-2 ">
              <div class="row">
                <div class="col-12">
                  <p class="text-left" >
                    Realiza tu pago hoy con tu tarjeta de crédito o debito y disfruta de nuestros servicios sin complicaciones.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 mx-auto p-2 mt-1 container-credit-card">
              <stripe-card 
                #stripeCard
                (catch)="onStripeError($event)"
                [(invalid)]="invalidError"
                (cardMounted)="cardCaptureReady = true"
                (paymentMethodChange)="setPaymentMethod($event)"
                (tokenChange)="setStripeToken($event)"
                (sourceChange)="setStripeSource($event)"
                [options]="cardOptions"
                class="stripe-card"
              ></stripe-card>
            </div>         
          </div>
          <div class="row ">
            <div class="col-12 mx-auto p-3 mt-3 ">
              <div class="row">
                <div class="col-12">
                  <p class="text-left" >
                    Su tarjeta se almacena de forma segura en los servidores de nuestros proveedores de pago.
                  </p>
                   <!-- <p class="text-left" >
                    Realiza tu pago hoy con tu tarjeta de crédito o debito y disfruta de nuestros servicios sin complicaciones.
                  </p>  -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mx-auto p-2  container ">
            <div class="row  justify-content-between ">
              <div class="col-5">
                <div class="row ml-2">
                  <div class="col-6">
                    <img src="https://img.freepik.com/free-photo/standard-quality-control-collage_23-2149631017.jpg?w=740&t=st=1684466694~exp=1684467294~hmac=182086d06ad985ce2b76129c415b34165a1ee82edd124cc3353d1db5d02cf7d2" alt="">
                  </div>
                  <div class="col-6">
                    <img src="https://img.freepik.com/free-photo/standard-quality-control-collage_23-2149631017.jpg?w=740&t=st=1684466694~exp=1684467294~hmac=182086d06ad985ce2b76129c415b34165a1ee82edd124cc3353d1db5d02cf7d2" alt="">
                  </div>
                </div>
              </div>
              <div class="col-5">
                <button
                  class="btn btn-secondary btn-lg "
                  (click)="stripeCard.createToken($event)"
                >
                  Pagar
                </button>
              </div>
            </div>
          </div> 
          
        </div>
        <div class="card-footer mb-3 mt-2">
          <div *ngIf="invalidError" style="color: red">
            {{ invalidError.message }}
          </div>
        </div>
      </div> 
    </div> 

    <!-- <div class="col-6">
      <div class=" card card-stats shadow text-center">
        <form
          [formGroup]="criptoform"
          (ngSubmit)="payWithCripto(cryptoModaltemplate)"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="row container-title">
                  <div class="col-11 text-left mx-auto">
                    <h2 class="card-title pb-2">Pagar con <strong>Cripto</strong></h2>
                  </div>
                </div>
                <div class="form-group">
                  <label for="currency2">
                    Moneda: {{ currencyField?.value }} 
                  </label>
                  <select
                    formControlName="currency2"
                    class="form-control"
                    id="currency2"
                  >
                    <option value="" selected disabled>Choose Tagging</option>
                    <option *ngFor="let c of currencies" [value]="c?.symbol">
                      {{
                        (c?.name | titlecase) +
                          " - " +
                          (c?.symbol | uppercase)
                      }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer">
              <button
                class="btn btn-secondary btn-lg mb-3"
                type="submit"
                [disabled]="criptoform.invalid"
              >
                Pagar con cripto
              </button>
            </div>
          </div>
        </form>
      </div>
   </div> -->
  </div>
</div>


<!-- MODAL -->
<ng-template #cryptoModaltemplate>
  <div class="crypto-pay-modal">
    <div class="modal-header crypto-pay-modal__header">
      <div>
        <p class="crypto-pay-modal__eyebrow">CoinPayments</p>
        <h4 class="modal-title mb-0">Pago con criptomonedas</h4>
      </div>
      <button type="button" class="btn-close close" aria-label="Cerrar" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body crypto-pay-modal__body">
      <section class="crypto-pay-modal__section" aria-labelledby="funding-crypto-modal-detail-title">
        <h5 id="funding-crypto-modal-detail-title" class="crypto-pay-modal__section-title">Detalle del pago</h5>
        <dl class="crypto-pay-modal__dl">
          <div class="crypto-pay-modal__row">
            <dt>Importe</dt>
            <dd>{{ coinpaymentResponse?.amount }}</dd>
          </div>
          <div class="crypto-pay-modal__row">
            <dt>ID de transacción</dt>
            <dd>{{ coinpaymentResponse?.txn_id }}</dd>
          </div>
          <div class="crypto-pay-modal__row">
            <dt>Confirmaciones</dt>
            <dd>{{ coinpaymentResponse?.confirms_needed }}</dd>
          </div>
          <div class="crypto-pay-modal__row">
            <dt>Dirección</dt>
            <dd class="crypto-pay-modal__mono">{{ coinpaymentResponse?.address }}</dd>
          </div>
        </dl>
      </section>

      <section class="crypto-pay-modal__section crypto-pay-modal__section--qr" *ngIf="coinpaymentResponse?.qrcode_url">
        <h5 class="crypto-pay-modal__section-title">Código QR</h5>
        <div class="crypto-pay-modal__qr-wrap">
          <img [src]="coinpaymentResponse?.qrcode_url" alt="Código QR para completar el pago en tu wallet" />
        </div>
      </section>

      <div class="crypto-pay-modal__actions">
        <a
          [href]="coinpaymentResponse?.checkout_url"
          class="btn btn-secondary btn-lg"
          target="_blank"
          rel="noopener noreferrer"
        >
          Abrir checkout
        </a>
        <a
          [href]="coinpaymentResponse?.status_url"
          class="btn btn-outline-secondary btn-lg"
          target="_blank"
          rel="noopener noreferrer"
        >
          Ver estado
        </a>
      </div>

      <p *ngIf="cryptoCheckoutDisclaimer" class="crypto-pay-modal__disclaimer">{{ cryptoCheckoutDisclaimer }}</p>

      <div class="crypto-pay-modal__footer">
        <a routerLink="/funding-program/home" class="btn btn-link" (click)="modalRef?.hide()">Volver al inicio</a>
      </div>
    </div>
  </div>
</ng-template>

