.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: darkblue;
    cursor: pointer
}

textarea {
    background-color:  #cdcdc3 !important;
    color: var(--default) !important;
}

label {
    color: var(--secondary) !important;
    font-size: 1.2em !important;
}