<form class=" form" [formGroup]="commentForm" (ngSubmit)="createReply(commentForm.value)" role="form">

    <div class="form-group">
        <label for="response"> Pregunta </label>

        <textarea class="form-control" id="response" rows="3" class="form-control" placeholder=""
            formControlName="body"></textarea>
        <ng-container *ngFor="let validation of validationMessages.comment">
            <small class="form-text text-danger" *ngIf=" commentForm.get('body').hasError(validation.type) &&
(commentForm.get('body').dirty ||
commentForm.get('body').touched) ">
                {{validation.message}}
            </small>
        </ng-container>

        <ng-container *ngIf="errorMessage">
            <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small>
            <br>
        </ng-container>

        <button class="btn btn-primary btn-sm mt-2" [disabled]="commentForm.invalid">Responder</button>
    </div>
</form>