.shadow {
    border-radius: 10px;
}

.card  {
    background-color: #ffffff !important;
    border-radius: 10px;
}
 
th {
    color: var(--secondary) !important;   
}

.datatable-body-cell-label {
    color: black !important; 
}

.card-title {
    font-size: 3em !important;
    font-weight: 600 !important;
    color: var(--secondary) !important;
}

.title-lg {
    font-size: 3em !important;
    font-weight: 600 !important;
    color: var(--secondary) !important;
}

.btn-green {
    color: green !important;
}