.content {
    background-image: url('https://res.cloudinary.com/mistrades-com/image/upload/v1649870836/assets/fondo_r7arg0.jpg') !important;
}

.card  {
    background-color: rgb(0, 0, 0, 0.25) !important;
}

// .table-responsive {
//     scrollbar-color: yellow blue !important;

// }

.card-title {
    font-size: 2em !important;
    font-weight: 600 !important;
    color: #0AC116 !important;
}

.title-lg {
    font-size: 3em !important;
    font-weight: 600 !important;
    color: #0AC116 !important;
}
