.shadow {
    box-shadow: 0px 0px 18px 0.2px rgba(0,0,0,0.15) !important;
    border-radius: 10px;
} 

.card {
    border-bottom: 3px solid var(--secondary);
}

.container-title {
    padding-bottom: 1em;
}

.card-title {
    color: var(--secondary) !important;
    font-weight: 600 !important;
    font-size: 1.35rem;
    line-height: 1.35;
    margin-top: 0;
}

.container-info {
    border-bottom: 1px solid #ccc;
}

.bg-label {
    border-radius: 5px; 
    background-color: #cccc;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: var(--secondary) !important ;
    content: "/";
}