<div class="full-page pricing-page">
    <div class=" content">
        <div class=" container">
            <div class=" row">
                <div class=" col-md-6 ml-auto mr-auto text-center">
                    <h1 class=" title text-primary">Bienvenido a MISTRADE</h1>

                    <h4 class=" description text-gray font-weight-bold mb-3">
                        Ha ocurrido un error al procesar su pago, por favor vuelve a intentarlo o en caso de necesitar ayuda puede comunicarse con nuestro equipo de soporte al siguiente correo <br>
                        correo@micorreo.com
                    </h4>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <button class="btn btn-primary" routerLink="/pricing"> VOLVER A INTENTAR </button>
                    </div>
                    <hr>
                </div>
            </div>

            <!-- <div class=" col-md-12 mt-5">
            <h3 class=" title">Plan Profesional Incluye</h3>
          </div> -->
            <!-- <div class=" row mt-4">
          <div class=" col-md-4">
            <p>
              Premium pricing is the strategy of consistently pricing at, or near,
              the high end of the possible price range to help attract
              status-conscious consumers. The high pricing of a premium product
              ...
            </p>
          </div>
          <div class=" col-md-6 ml-auto">
              <div class=" progress-container progress-warning">
                <h3 class="title mb-2"> FOREX </h3>
                <button class="btn btn-simple btn-primary d-block">VER TERMARIO</button>
              </div>
  
            </div>
        </div> -->
        </div>
    </div>
</div>