<div class="content admin-area-page">
  <div class="row admin-area-breadcrumb-row">
    <div class="col-12">
      <nav aria-label="Migas de pan">
        <ol class="breadcrumb bg-transparent mb-0 px-0">
          <li class="breadcrumb-item text-primary">
            <a routerLink="/referrals">Back office</a>
          </li>
          <li class="breadcrumb-item text-primary">
            <a routerLink="/self-management/home">Academia</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Retiros y ganancias globales
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="mb-0">Retiros globales</p>
    </div>
  </div>
</div>
