<!-- <p>subscription works!</p> -->
<div class="content">
    <div class="row">
        <div  class="col-md-12">
            <h3>Mi Subscripción</h3>
        </div>    
        <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header row">
                <div class="col-lg-1 col-md-4">
                    <span>
                        <img src="https://res.cloudinary.com/mistrades-com/image/upload/c_scale,h_42/v1643730458/assets/logo-menu_dykmzl.png" alt="">
                    </span>
                </div>
                <div class="col-lg-6 col-md-5" style="top: 50%;">
                    <div>
                        <h2 class="title">Mistrades Pro</h2>
                    </div>               
                </div>                    
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-7 col-md-5">
                        <div class="card card-stats">
                            <div class="card-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <!-- <i class="tim-icons icon-alert-circle-exc icon-success"></i> -->
                                            </th>
                                            <th>
                                                <p>Beneficios del plan</p>
                                            </th>
                                        </tr>
                                    </thead>
                            <tr>

                            </tr>
                            <tr>
                                <td>                                   
                                        <i class="tim-icons icon-check-2 icon-primary"></i>                                   
                                </td>
                                <td>                                    
                                        <p class="card-text"> Acceso a la escuela de Inglés y Escuela de Startups.</p>                                   
                                </td>
                            </tr>
                            <tr>
                                <td>                                   
                                        <i class="tim-icons icon-check-2 icon-primary"></i>                                   
                                </td>
                                <td>                                    
                                        <p class="card-text"> Expert+ para dos personas.</p>                                   
                                </td>
                            </tr>
                            <tr>
                                <td>                                   
                                        <i class="tim-icons icon-check-2 icon-primary"></i>                                   
                                </td>
                                <td>                                    
                                        <p class="card-text"> Mentorías semanales en grupo o en vivo.</p>                                   
                                </td>
                            </tr>
                            <tr>
                                <td>                                   
                                        <i class="tim-icons icon-check-2 icon-primary"></i>                                   
                                </td>
                                <td>                                    
                                        <p class="card-text"> Participa en Platzi Demo Day con tu Startup.</p>                                   
                                </td>
                            </tr>
                            <tr>
                                <td>                                   
                                        <i class="tim-icons icon-check-2 icon-primary"></i>                                   
                                </td>
                                <td>                                    
                                        <p class="card-text"> Acceso VIP a PlatziConf, online y presencial.</p>                                   
                                </td>
                            </tr>
                            <tr>
                                <td>                                   
                                        <i class="tim-icons icon-check-2 icon-primary"></i>                                   
                                </td>
                                <td>                                    
                                        <p class="card-text"> Descarga tus clases con la App para estudiar sin conexión.</p>                                   
                                </td>
                            </tr>
                        </table>                  
                    </div>                   
                </div>             
            </div>
          <div class="col-lg-5 col-md-5">
                <div class="card card-stats">
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p>Pago</p>
                                    </th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Tendrás acceso hasta el <b>día de mes de año</b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                        <img src="https://res.cloudinary.com/mistrades-com/image/upload/c_scale,w_106/v1644824244/assets/Cards/visa-logo_ugposw.png" alt=""><p> **3435</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div>
                            <hr />

                  <div class="stats">

                    <button class="btn btn-fill btn-primary" type="submit">
                      <!-- <i class="tim-icons icon-double-right"> </i>  -->
                      Pagar
                    </button>
                  </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-5">
                <div class="row">
                    <div class="col-lg-2 col-md-5">
                        <button class="btn btn-simple btn-primary btn-sm" type="submit">
                        <!-- <i class="tim-icons icon-double-right"> </i>  -->
                            PAUSAR
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-5">
                        <button class="btn btn-simple btn-primary btn-sm" type="submit">
                        <!-- <i class="tim-icons icon-double-right"> </i>  -->
                            ACTUALIZAR MI PLAN
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <button class="btn btn-simple btn-primary btn-sm" type="submit">
                        <!-- <i class="tim-icons icon-double-right"> </i>  -->
                            QUIERO PERDER MI ACCESO
                        </button>
                    </div>
                </div>

            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>