<!-- <p>subscription works!</p> -->
<div class="content">
    <div class="row">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item text-primary">
                <a routerLink="/home">
                    Inicio
                </a>
            </li>
            <li class=" breadcrumb-item">
                Subscripción
            </li>
        </ol>
        <div class="col-md-12">
            <h3 class="title-table ">MI SUBSCRIPCIÓN</h3>
        </div>
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header row">
                    <div class="col-12 ">
                        <img class="p-3 img"
                            src="https://res.cloudinary.com/mistrades-com/image/upload/v1647911304/assets/logo-principal_pfnrav.png"
                            alt="">
                    </div>

                </div>
                <div class="card-body">
                    <ng-container *ngIf="role === 'basic'; else elseTemplate">

                        <div class="row">
                            <div class="col-lg-7 col-md-5">
                                <div class=" card-stats">
                                    <div class="card-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <!-- <i class="tim-icons icon-alert-circle-exc icon-success"></i> -->
                                                    </th>
                                                    <th>
                                                        <p class="h3 mb-2">Plan Full</p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="tim-icons icon-check-2 icon-primary"></i>
                                                </td>
                                                <td>
                                                    <p class="card-text"> Acceso a todos los cursos</p>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Mentoría para dos personas.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Mentorías semanales en grupo o en vivo.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Participa en foros con tu Startup.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Acceso VIP a conferencias, online y presencial.
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Descarga tus clases con la App para estudiar sin
                                                            conexión.</p>
                                                    </td>
                                                </tr> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-center">


                                <h3 class="text-primary ">ACTUALIZAR MI PLAN A FULL</h3>

                                <form action="https://www.coinpayments.net/index.php" method="post">
                                    <input type="hidden" name="cmd" value="_pay_simple">
                                    <input type="hidden" name="reset" value="1">
                                    <input type="hidden" name="merchant" value="9f135a6a18337044fc156365bb6e8855">
                                    <input type="hidden" name="item_name" value="Full">
                                    <input type="hidden" name="item_desc" value="asd">
                                    <input type="hidden" name="currency" value="USD">
                                    <input type="hidden" name="amountf" value="1">
                                    <input type="hidden" name="want_shipping" value="0">
                                    <input type="hidden" name="success_url"
                                        value="https://mistrades-b043d.web.app/home">
                                    <input type="hidden" name="cancel_url" value="https://mistrades-b043d.web.app/home">
                                    <input type="hidden" name="ipn_url"
                                        value="https://academy-api-dev.herokuapp.com/full/payment/">
                                    <input type="image" src="https://www.coinpayments.net/images/pub/buynow-grey.png"
                                        alt="Buy Now with CoinPayments.net">
                                </form>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>

                        <div class="row">
                            <div class="col-lg-7 col-md-5">
                                <div class=" card-stats">
                                    <div class="card-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <!-- <i class="tim-icons icon-alert-circle-exc icon-success"></i> -->
                                                    </th>
                                                    <th>
                                                        <p class="h3 mb-2">Plan VIP Autogestión</p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="tim-icons icon-check-2 icon-primary"></i>
                                                </td>
                                                <td>
                                                    <p class="card-text"> Acceso a todos los cursos</p>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Mentoría para dos personas.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Mentorías semanales en grupo o en vivo.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Participa en foros con tu Startup.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Acceso VIP a conferencias, online y presencial.
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="tim-icons icon-check-2 icon-primary"></i>
                                                    </td>
                                                    <td>
                                                        <p class="card-text"> Descarga tus clases con la App para estudiar sin
                                                            conexión.</p>
                                                    </td>
                                                </tr> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-center">

                                <h3 class="text-primary ">ACTUALIZAR MI PLAN A AUTOGESTION VIP</h3>

                                <form action="https://www.coinpayments.net/index.php" method="post">
                                    <input type="hidden" name="cmd" value="_pay_simple">
                                    <input type="hidden" name="reset" value="1">
                                    <input type="hidden" name="merchant" value="9f135a6a18337044fc156365bb6e8855">
                                    <input type="hidden" name="item_name" value="autogestion vip">
                                    <input type="hidden" name="item_desc" value="asd">
                                    <input type="hidden" name="currency" value="USD">
                                    <input type="hidden" name="amountf" value="1">
                                    <input type="hidden" name="want_shipping" value="0">
                                    <input type="hidden" name="success_url"
                                        value="https://mistrades-b043d.web.app/home">
                                    <input type="hidden" name="cancel_url" value="https://mistrades-b043d.web.app/home">
                                    <input type="hidden" name="ipn_url"
                                        value="https://academy-api-dev.herokuapp.com/basic/payment/">
                                    <input type="image" src="https://www.coinpayments.net/images/pub/buynow-grey.png"
                                        alt="Buy Now with CoinPayments.net">
                                </form>
                            </div>
                        </div>






                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>