<!-- <p>subscription works!</p> -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title-table ">MI SUBSCRIPCIÓN</h3>
        </div>
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header row">
                    <div class="col-12 ">
                        <img class="p-3 img"
                            src="https://res.cloudinary.com/mistrades-com/image/upload/v1647911304/assets/logo-principal_pfnrav.png"
                            alt="">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-7 col-md-5">
                            <div class=" card-stats">
                                <div class="card-body">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <!-- <i class="tim-icons icon-alert-circle-exc icon-success"></i> -->
                                                </th>
                                                <th>
                                                    <p class="h3 mb-2">Plan Pro</p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr>

                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="tim-icons icon-check-2 icon-primary"></i>
                                            </td>
                                            <td>
                                                <p class="card-text"> Acceso a la escuela de Inglés y Escuela de
                                                    Startups.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="tim-icons icon-check-2 icon-primary"></i>
                                            </td>
                                            <td>
                                                <p class="card-text"> Mentoría para dos personas.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="tim-icons icon-check-2 icon-primary"></i>
                                            </td>
                                            <td>
                                                <p class="card-text"> Mentorías semanales en grupo o en vivo.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="tim-icons icon-check-2 icon-primary"></i>
                                            </td>
                                            <td>
                                                <p class="card-text"> Participa en foros con tu Startup.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="tim-icons icon-check-2 icon-primary"></i>
                                            </td>
                                            <td>
                                                <p class="card-text"> Acceso VIP a conferencias, online y presencial.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="tim-icons icon-check-2 icon-primary"></i>
                                            </td>
                                            <td>
                                                <p class="card-text"> Descarga tus clases con la App para estudiar sin
                                                    conexión.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class=" card-stats">
                                <div class="card-body">

                                    <div class="_card">
                                        <div class="card__front card__part">
                                            <img class="card__front-square card__square"
                                                src="https://res.cloudinary.com/mistrades-com/image/upload/v1644824244/assets/Cards/visa-logo_ugposw.png">
                                            <!-- <p class="card__front-square card__square h2">VISA</p> -->
                                                <img class="card__front-logo card__logo"
                                                src="https://res.cloudinary.com/mistrades-com/image/upload/v1651370323/assets/Cards/Screen_Shot_2022-04-30_at_8.58.26_PM_x6wqpc.png">
                                            <p class="card_numer">**** **** **** 6258</p>
                                            <div class="row">
                                                <div class="col-9">
                                                    <span class="card__label">Card holder</span>
                                                    <p class="card__info">John Doe</p>
                                                </div>
                                                <div class="col-3 d-flex align-item-end ">
                                                    <span class="card__label d-block">Expires</span>
                                                    <p class="card__info d-block">10/25</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div>

                                        <div class="stats">

                                            <button class="btn btn-simple btn-primary btn-sm" type="submit">
                                                <!-- <i class="tim-icons icon-double-right"> </i>  -->
                                                Pagar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-5">
                            <div class="row">
                                <div class="col-lg-3 col-md-5">
                                    <button class="btn btn-primary btn-lg" type="submit">
                                        <!-- <i class="tim-icons icon-double-right"> </i>  -->
                                        ACTUALIZAR MI PLAN
                                    </button>
                                </div>
                                <!-- <div class="col-lg-4 col-md-5">
                                    <button class="btn btn-simple btn-primary btn-sm" type="submit">
                                        QUIERO PERDER MI ACCESO
                                    </button>
                                </div> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>