<div class="content">
  <div class="row">
    <div class="col-8">
      <ol class=" breadcrumb bg-transparent ml-3">
        <li class=" breadcrumb-item text-primary">
            <a routerLink="/home">
                Home
            </a> 
        </li>
        <li class=" breadcrumb-item">
            Funding Program
        </li>
      </ol>
      <!-- <h3>
        Funding Program <br />
        Empieza a operar.
      </h3>  -->
    </div>

    <div class="col-4  text-right p-2">
      <div class="card  card-stats text-center referido p-2">
        <h3 class="pb-0">Código de Referido</h3>
        <p 
          class="text-left pt-0" 
          style="color: #0c0c0b !important;"
        >Compártelo y empieza a comisionar con los paquetes de Autogestión</p> 
        <div class="row">
          <div class="col-8 pr-1">
            <p class="ref">{{ referalCode }}</p>
          </div>
          <div class="col-4">
            <button class="btn btn-secondary  btn-md  " [cdkCopyToClipboard]="referalCode">
              Copiar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row  p-3">
    <div class="col-12  banner">
      <h2>Banner Euro Strip</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 ">
      <div class="card card-stats shadow-custom text-center">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3 class="card-title">Cuenta Demo</h3>
            </div>
          </div> 
        </div>
        <div class="card-footer">
          <hr />
          <p class="stats">Opere hasta $200,000 en la EURO Account</p>
          <br />
          <p class="stats">Practica gratis con nuestra cuenta demo ahora.</p>
          <br>
          <p class="stats">
            Demuestre sus habilidades de trading completando nuestras fases.
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary btn-lg mb-3 ">
            Comprar
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-stats shadow-custom text-center">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3 class="card-title">Challenge ICEX Funding</h3>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <br>
          <p class="stats">Opere hasta $200,000 en la EURO Account</p>
          <br />
          <p class="stats">
            Demuestre sus habilidades de trading completando nuestras fases.
          </p>
          <br>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary btn-lg mb-3 ">
            Comprar
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="card card-stats text-center shadow-custom">
        <div class="row card-footer">
          <div class="col-12">
            <h3>Objetivos del challenge</h3>
            <hr />
          </div>
          <div class="col-4">
            <p class="stats"><i class="fas fa-check-circle"></i>Profit fase 2 a lograr en 30 dias</p>
            <p class="stats"><i class="fas fa-check-circle"></i>Minimo de dias de trading 1</p>
          </div>
          <div class="col-4">
            <p class="stats"><i class="fas fa-check-circle"></i>5% drowdown diario</p>
            <p class="stats"><i class="fas fa-check-circle"></i>10% drowdown total</p>
            <p class="stats"><i class="fas fa-check-circle"></i>Profit fase 1 a lograr en 30 dias</p>
          </div>
          <div class="col-4">
            <p class="stats"><i class="fas fa-check-circle"></i>Reparto beneficio 75%</p>
            <p class="stats"><i class="fas fa-check-circle"></i>Sin restricciones de trading</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Autogestion de fondos</h3>

  <div class="row">
    <div class="col-lg-6 col-md-6 ">
      <div class="card card-stats  shadow-custom">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <p class="stats"><i class="fas fa-check-circle"></i>Autogestion de fondos.</p>
              <p class="stats"><i class="fas fa-check-circle"></i>Seguro de Capital.</p>
              <p class="stats"><i class="fas fa-check-circle"></i>Contrato digital Monitoreo 24/7.</p>
            </div>
            <div class="col-6">
              <p class="stats"><i class="fas fa-check-circle"></i>Soporte 24/5.</p>
              <p class="stats"><i class="fas fa-check-circle"></i>Alianzas Comerciales.</p>
              <p class="stats"><i class="fas fa-check-circle"></i>Curso Básico Forex.</p>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-secondary  btn-lg mb-3 ">
            Comprar
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 shadow-custom">
      <h3>Provident velit adipisci illum</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia est
        soluta aliquid quod provident velit adipisci illum voluptate numquam a
        maxime error necessitatibus eligendi ducimus, expedita ab in aspernatur
        unde!
      </p>
    </div>
  </div>

<!--   <div class="row">
    
  </div> -->
</div>
