.content {
    background-image: url('https://res.cloudinary.com/app-intcapex-com/image/upload/v1655598112/assets/fondo_fyiehj.jpg') !important;
}

.class-user {
    padding: 80px 30px 30px 80px !important;
}

.banner {
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
}

.banner .button-container-one {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.banner .button-container-two {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.banner .button-container-one .btn-banner {
    background-image: linear-gradient(to bottom left, #00c573, #00c573, #00c573) !important;
    background-color: #00c573 !important;
    color: var(--secondary);
}

.banner .button-container-two a:hover img {
    transform: scale(1.1);
}

.banner .carousel-control-next {
    right: 10px !important;
}

.banner .carousel-control-prev {
   
    left: 10px !important;
}

 .carousel-indicators li {
    margin-top: -50px;
}
.referido {
    color: #21201F !important;
    border-radius: 10px;
}

.referido h3{
    padding: 0px !important;
    border-bottom: 1px solid #21201F;
}

.referido button {
    margin-left: -30px;
    margin-top: -4px;
}


.shadow-custom {
    box-shadow: 0px 0px 18px 0.2px rgba(0,0,0,0.15) !important;
    border-radius: 10px;
}

.card-img-top {
    // min-width: 70%;
    // min-height: 100px;
    // max-width: 100%; 
    // max-height: 200px;
    width: 100%;
    height: 200px;
    padding: 10px !important;
    border-radius: 15px !important;
}

h3, h2 {
     color: var(--secondary) !important; 
} 

.card {
    background-color: #f4f4f4 !important;
    border-bottom: 3px solid var(--secondary);
}

.ref {
    background-color: lightgray !important;
    color: var(--secondary) !important;
    padding: 5px !important;
}


 
.card-title {
    font-weight: 600 !important;
    font-size: 1.4rem;
    border-bottom: 2px solid #4be8e6;
}

.card-subtitle {
    color: #4be8e6 !important;
}

.container-body {
    color: #cccccc !important;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.icon img {
    height: 26px !important;
    position: absolute;
    top: 8px;
    right:-15px;
}

.phase {
    border-radius: 10px;
    background-color: var(--secondary);
}

.phase h3 {
    color: #4be8e6 !important;
}

.goals {
    border-radius: 10px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 3px solid #4be8e6;
    border-bottom: 1px solid #cccccc;
}

.goals p {
    color: #808080;
}

.commissions {
    background-color: var(--secondary) !important;
}

.btn-ref {
    color: var(--secondary);
    background: #4be8e6 !important;
    background-image: #4be8e6 !important;
    background-color: #4be8e6 !important;
}

// .btn:hover {
//     background-color: #0AC116 !important;
// }



