<div class="content">
  <div class="row">
    <div class="col-10">
      <h3>
        Funding Program <br />
        Empieza a operar.
      </h3>
    </div>
    <div class="col-2 text-right">
      <div class="card card-stats text-center">
        <p>Código de Referido</p>
        <p class="ref">{{ referalCode }}</p>
        <button
          class="btn btn-secondary btn-sm mb-3 rounded-pill"
          [cdkCopyToClipboard]="referalCode"
        >
          Copiar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats text-center">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3 class="card-title">Challenge Royal ICEX</h3>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <p class="stats">Opere hasta $200,000 en la EURO Account</p>
          <br />
          <p class="stats">
            Demuestre sus habilidades de trading completando nuestras fases.
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary btn-lg mb-3 rounded-pill">
            Comprar
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats text-center">
        <div class="card-footer">
          <p class="stats">Objetivos del challenge</p>
          <hr />
          <p class="stats">5% drowdown diario</p>
          <hr />
          <p class="stats">10% drowdown total</p>
          <hr />
          <p class="stats">Profit fase 1 a lograr en 30 dias</p>
          <hr />
          <p class="stats">Profit fase 2 a lograr en 30 dias</p>
          <hr />
          <p class="stats">Minimo de dias de trading 1</p>
          <hr />
          <p class="stats">Reparto beneficio 75%</p>
          <hr />
          <p class="stats">Sin restricciones de trading</p>
          <hr />
        </div>
      </div>
    </div>
  </div>

  <h3>Autogestion de fondos</h3>

  <div class="row">
    <div class="col-lg-7 col-md-8">
      <div class="card card-stats text-left">
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <p class="stats">Autogestion de fondos.</p>
              <p class="stats">Seguro de Capital.</p>
              <p class="stats">Contrato digital Monitoreo 24/7.</p>
            </div>
            <div class="col-6">
              <p class="stats">Soporte 24/5.</p>
              <p class="stats">Alianzas Comerciales.</p>
              <p class="stats">Curso Básico Forex.</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary btn-block btn-lg mb-3 rounded-pill">
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-md-8">
      <h3>Provident velit adipisci illum</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia est
        soluta aliquid quod provident velit adipisci illum voluptate numquam a
        maxime error necessitatibus eligendi ducimus, expedita ab in aspernatur
        unde!
      </p>
    </div>
  </div>
</div>
