<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"><h4 class="title">Editar perfil</h4></div>
        <div class="card-body">
          <form class="form" [formGroup]="updateForm" (ngSubmit)="updateUser(updateForm.value)" role="form">
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Nombre </label>
                  <input class="form-control" type="text" placeholder="Nombre" formControlName="first_name" />
                </div>
                <ng-container *ngFor="let validation of validationMessages.first_name">
                  <small class="text-danger d-block" *ngIf="updateForm.get('first_name').hasError(validation.type) &&
                        (updateForm.get('first_name').dirty || updateForm.get('first_name').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Apellido </label>
                  <input class="form-control" type="text" placeholder="Apellido" formControlName="last_name" />
                </div>
                <ng-container *ngFor="let validation of validationMessages.last_name">
                  <small class="text-danger d-block" *ngIf="updateForm.get('last_name').hasError(validation.type) &&
                    (updateForm.get('last_name').dirty || updateForm.get('last_name').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Dirección de Email </label>
                  <input class=" form-control" formControlName="email" placeholder="Email" type="email"
                    (blur)="focus = false" (focus)="focus = true" />
                </div>
                <ng-container *ngFor="let validation of validationMessages.email">
                  <small class="text-danger" *ngIf="updateForm.get('email').hasError(validation.type) &&
                  (updateForm.get('email').dirty || updateForm.get('email').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Teléfono </label>
                  <input
                    class="form-control" placeholder="Teléfono" formControlName="phone"
                    type="tel"
                    (blur)="focus = false" (focus)="focus = true"
                  />
                </div>
                <ng-container *ngFor="let validation of validationMessages.phone">
                  <small class="text-danger" *ngIf="updateForm.get('phone_number').hasError(validation.type) &&
                  (updateForm.get('phone_number').dirty || updateForm.get('phone_number').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="errorMessage">
              <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small> <br>
            </ng-container>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <button class="btn btn-fill btn-primary" type="submit" >Guardar</button>
                </div>
                <div class=" pull-right col-md-6 pl-md-1" *ngIf="showButtonPassword">
                  <h6>
                    <a class=" link footer-link " (click)="showUpdatePassword()" href="javascript:showUpdatePassword()">
                    Actualizar contraseña
                    </a>
                  </h6>
                </div>
              </div>
              
            </div>
          </form>
        </div>

      </div>
      <!--<div *ngIf="showButtonPassword">
        <button class="btn btn-fill btn-primary btn-sm btn-round" (click)="showUpdatePassword()"> Actualizar contraseña</button>
        <br>
      </div>-->
      <div  class="card" *ngIf="showPasswordField">
        <div class="card-header">
          <h4 class="title">Actualizar contraseña</h4>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm.value)"
            role="form">
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Contraseña actual </label>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Contraseña actual"
                    formControlName="old_password"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Nueva contraseña </label>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Nueva contraseña"
                    formControlName="password"
                  />
                </div>
                <ng-container *ngFor="let validation of validationMessages.password">
                    <small class="text-danger d-block" *ngIf="updateForm.get('password').hasError(validation.type) &&
                    (updateForm.get('password').dirty || updateForm.get('password').touched) ">
                      {{validation.message}}
                    </small>
                  </ng-container>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <button class="btn btn-fill btn-primary" type="submit">
            Actualizar
                </button>
                </div>
                <div class="col-md-6 pl-md-1">
                  <button class="btn btn-fill btn-danger" (click)="showUpdatePassword()"> Cancelar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="title">Cursos</h4>
        </div>
        <div class="card-body">
          <div class=" row">
            <div class="col-lg-4 col-md-5">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="info-icon text-center icon-warning">
                        <i class="tim-icons icon-chat-33"> </i>
                      </div>
                    </div>
                    <div class="col-7">
                      <div class="numbers">
                        <p class="card-category">Curso</p>
                        <h6 class="card-title">Fundamentos del trading</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <button class="btn btn-simple btn-info btn-sm pull-left" type="submit">
                      <i class="tim-icons icon-double-right"> </i> Ingresar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="info-icon text-center icon-primary">
                        <i class="tim-icons icon-shape-star"> </i>
                      </div>
                    </div>
                    <div class="col-7">
                      <div class="numbers">
                        <p class="card-category">Curso</p>
                        <h6 class="card-title">+45k</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />

                  <div class="stats">
                    <button class="btn btn-simple btn-info btn-sm" type="submit">
                      <i class="tim-icons icon-double-right"> </i> Ingresar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="info-icon text-center icon-success">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <div class="col-7">
                      <div class="numbers">
                        <p class="card-category">Curso</p>
                        <h6 class="card-title">150,000</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />

                  <div class="stats">
                    <button class="btn btn-simple btn-info btn-sm" type="submit">
                      <i class="tim-icons icon-double-right"> </i> Ingresar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="info-icon text-center icon-danger">
                        <i class="tim-icons icon-molecule-40"> </i>
                      </div>
                    </div>
                    <div class="col-7">
                      <div class="numbers">
                        <p class="card-category">Curso</p>
                        <h6 class="card-title">¿Cómo invertir mi capital?</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />

                  <div class="stats">
                    <button class="btn btn-simple btn-info btn-sm" type="submit">
                      <i class="tim-icons icon-double-right"> </i> Ingresar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="info-icon text-center icon-danger">
                        <i class="tim-icons icon-molecule-40"> </i>
                      </div>
                    </div>
                    <div class="col-7">
                      <div class="numbers">
                        <p class="card-category">Curso</p>
                        <h6 class="card-title">¿Cómo invertir mi capital?</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />

                  <div class="stats">

                    <button class="btn btn-simple btn-info btn-sm" type="submit">
                      <i class="tim-icons icon-double-right"> </i> Ingresar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <!--<button class="btn btn-fill btn-success" type="submit">
            Actualizar
          </button>-->
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text"></p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <!-- <img alt="..." class="avatar" src="assets/img/emilyz.jpg" /> -->
              <app-picture-upload></app-picture-upload>

              <h5 class="title"> {{first_name.value}} {{last_name.value}} </h5>
            </a>
            <p class="description">{{rol}}</p>
          </div>
          <div class="card-description" style="text-align: center">
            {{username.value}} <br> 
            {{phone.value}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>