<div class="wrapper">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 border">


                <div class="border">
                    <form class=" form" [formGroup]="commentForm" (ngSubmit)="createComment(commentForm.value)"
                        role="form">
                        <div class="form-group">
                            <label for="response"> Pregunta </label>

                            <textarea class="form-control" id="response" rows="3" class="form-control" placeholder=""
                                formControlName="body"></textarea>
                            <ng-container *ngFor="let validation of validationMessages.comment">
                                <small class="form-text text-danger" *ngIf=" commentForm.get('body').hasError(validation.type) &&
                                        (commentForm.get('body').dirty ||
                                          commentForm.get('body').touched) ">
                                    {{validation.message}}
                                </small>
                            </ng-container>

                            <ng-container *ngIf="errorMessage">
                                <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small>
                                <br>
                            </ng-container>

                            <button class="btn btn-primary btn-sm mt-2"
                                [disabled]="commentForm.invalid">Responder</button>
                        </div>
                    </form>
                </div>
                <div class="headings d-flex justify-content-between align-items-center mb-3 mt-3">
                    <h5>Comentarios ( {{ comments.length }} )</h5>
                </div>
                <ng-container *ngIf="comments.length > 0">
                    <div class="card p-3">

                        <div class="d-flex justify-content-between align-items-center mt-2 " *ngFor="let c of comments">
                            <div class=" d-flex flex-row align-items-start">
                                <img [src]="c?.author?.image_profile  !== '' ? c?.author?.image_profile : 'assets/img/placeholder.jpg'"
                                    width="40" class="user-img rounded-circle mr-2">
                                <span class="m-0 p-0">
                                    <small
                                        class="font-weight-bold m-0 p-0 text-primary">{{ (c?.author?.first_name ? c?.author?.first_name : 'User ' + c.id) | titlecase}}</small>
                                    <br>
                                    <div class="d-block">
                                        <small class="text-right"> {{ c?.created_at | date}} </small>
                                    </div>
                                    <small class="text-white m-0 p-o">{{ c?.body }}. </small>
                                </span>

                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>