img {
    width: 4em !important;
    height: 4em !important;
    margin: 10px !important;
}

nav-link {
    font-size: 3em !important;
}

a{
    color: white !important;
}

.fa-brands::before {
    border-radius: 20px !important;
}
