<div class="d-none d-sm-block bg-gray">
  <footer class="footer" [ngClass]="{
      'class-user': userDataService?.userData$?.value?.rol === 'student'
    }">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-6">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://sniperpro.digital/home/" target="_blank" rel="noopener noreferrer">
                <img class="logo"
                  src="https://res.cloudinary.com/ddw7odxzr/image/upload/v1727228272/Sin_ti%CC%81tulo_300_x_150_px_wor4ih.png"
                  alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-6 d-flex align-items-center justify-content-end">
          <div class="">
            <a href="#" target="_blank">
              <i class="fa-brands fa-youtube fa-3x align-middle"></i>
            </a>
            <a href="#" target="_blank">
              <i class="fa-brands fa-facebook fa-3x align-middle"></i>
            </a>
            <a href="#" target="_blank">
              <i class="fa-brands fa-instagram fa-3x align-middle"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="copyright">
            &copy; {{ test | date : "yyyy" }} Hecho con
            <i class="tim-icons icon-heart-2"> </i> para
            <a href="https://sniperpro.digital/home/" target="_blank"> Sniper Pro </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="d-block d-sm-none">
  <footer class="footer p-3" [ngClass]="{
      'class-user': userDataService?.userData$?.value?.rol === 'student'
    }">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://sniperpro.digital/home/" target="_blank" rel="noopener noreferrer">
                <img class="logo"
                  src="https://res.cloudinary.com/ddw7odxzr/image/upload/v1727228272/Sin_ti%CC%81tulo_300_x_150_px_wor4ih.png"
                  alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="mb-2">
            <a href="https://www.youtube.com/@LAMAQUINA_SNIPERPROACADEMIA" target="_blank">
              <i class="fa-brands fa-youtube-square fa-3x align-middle"></i>
            </a>
            <a href="https://www.instagram.com/sniperpro_trading?igsh=ejRjY3dpN3EyanNo" target="_blank">
              <i class="fa-brands fa-instagram-square fa-3x align-middle"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="copyright">
            &copy; {{ test | date : "yyyy" }} Hecho con
            <i class="tim-icons icon-heart-2"> </i> por
            <a href="https://startacademy.com.co/" target="_blank"> Sniper Pro </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
