<div class="content">
  <ol class="breadcrumb bg-transparent ml-3">
    <li class="breadcrumb-item text-primary">
      <a routerLink="/dashboard"> Dashboard </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/users/user"> Roles </a>
    </li>
    <li class="breadcrumb-item">Detail</li>
    
  </ol>
  <div class="row ml-3">
    <div class="col-lg-10 col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h3> Datos Del Cliente </h3>
          <div class="row">
            <div class="col-lg-5 col-md-12"> 
              <p>Nombre: <span>{{user.first_name + ' ' + user.last_name }} </span> </p>
              <p>ID Usuario: <span> {{user.id }} </span>  </p>
              <p>Télefono: <span>{{user.phone_number }}</span> </p>
              <p>País: <span> {{user.country }} </span> </p>
              <p>Dirección: <span> {{user.address }} </span> </p>
              <p>C.C: <span> {{user.identity_card }} </span> </p>
            </div>
            <div class="col-lg-5 col-md-12">
             <!--  <p>C.C Refrido: <span> {{user.deferred_document_number }} </span> </p> -->
              <p>Correo: <span> {{user.username }} </span> </p>
              <p>Fecha de ceración de cuenta: <span> {{user.date_joined | date: 'dd/MM/yyyy' }} </span> </p>
              <p>Paquetes Activos: <span> {{packagesActive.length }} </span> </p>
              <p>Paquetes Adquiridos: <span> {{user.packages.length }} </span> </p>
              <!-- <p>Paquete Autogestión: 
                <span 
                  [ngClass]="{
                    'text-success': packAgActive === 'Activo', 
                    'text-danger': packAgActive === 'Inactivo',
                  }"  
                > {{ packAgActive }} </span>   
              </p> -->
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="packAgActived.length > 0 ; else elseTemplate2" >

    <div class="row ml-3">
      <div *ngFor="let i of packAgActived "  class="col-10">
        <div class="card shadow">
          <div class="card-body">
            <h3> Autogestión </h3>
            <div class="row">
              <div class="col-lg-10 col-md-12">
                <p>Referido por: <span>{{ i?.referral_code_owner_name }} </span> </p>
                <p>Codigo de Referido: <span>{{ i?.referral_code }} </span> </p>
                <p>Cedula de Referido: <span> {{ i?.referral_code_owner_identity_card }} </span> </p>
                <p>Paquete Autogestión: 
                  <span 
                    [ngClass]="{
                      'text-success': packAgActive === 'Activo', 
                      'text-danger': packAgActive === 'Inactivo',
                    }"  
                  > {{ packAgActive }} </span>   
                </p>
              </div>
            </div> 
          </div>    
        </div>     
      </div>
    </div>
     
  </ng-container>

  <ng-template #elseTemplate2 >
    <div class="row ml-3">
      <div class="col-10">
        <div class="card shadow">
          
          <div class="card-body">
            <h3> Autogestión</h3>
            <p>Paquete Autogestión: 
              <span 
                [ngClass]="{
                  'text-success': packAgActive === 'Activo', 
                  'text-danger': packAgActive === 'Inactivo',
                }"  
              > {{ packAgActive }} </span>   
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  

</div>
