<div class="full-page lock-page">
  <div class="row">
    <div class="col-lg-5 container-form mr-auto">
      <div class="card card-login card-white shadow-none">
        <div class="card-header pb-1 mt-5 pl-5 pr-5 text-center">
          <div class="mx-auto my-auto logo">
            <img
              src="https://res.cloudinary.com/ddw7odxzr/image/upload/v1719765038/RC_11326_Logo_Final_Start_Academy_Alex_Logotipo_Negativo_ku9htb.png"
              alt="Logo"
            />
          </div>
          <h1 class="card-title">Recuperar Contraseña</h1>
        </div>
      </div>
      <div>
        <p class="card-text text-center">
          Ingresa al dashboard y entérate de todo lo que podrías hacer.
        </p>
      </div>
      <div class="card-body">
        <form
          class="form"
          [formGroup]="form"
          (ngSubmit)="recoverUser(form.value)"
          role="form"
        >
          <div class="form-group text-left">
            <label for="email"
              >Email: {{ emailField?.value | lowercase }}
            </label>
            <input
              type="email"
              class="form-control rounded-pill shadow"
              formControlName="email"
              placeholder="Escriba su email"
              id="email"
            />
            <ng-container *ngFor="let validation of validationMessages.email">
              <small
                class="form-text text-danger"
                *ngIf="emailField?.hasError(validation.type) && emailFieldDirty"
              >
                {{ validation.message }}
              </small>
            </ng-container>
          </div>
          <ng-container *ngIf="errorMessage">
            <small
              class="text-danger d-block"
              *ngFor="let e of errorMessage | keyvalue"
            >
              {{ e.value }}
            </small>
            <br />
          </ng-container>

          <div class="text-center">
            <button
              class="btn btn-secundary btn-lg btn-block mb-3 rounded-pill"
              [disabled]="form.invalid"
              type="submit"
            >
              Restablecer contraseña
            </button>
            <h6>
              <a class="link footer-link" routerLink="/sign-up">
                ¿No tienes una cuenta? <strong>Crear una cuenta Aquí</strong>
              </a>
            </h6>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-7 d-flex">
      <img
        src="https://res.cloudinary.com/ddw7odxzr/image/upload/v1720559851/Disen%CC%83o_sin_ti%CC%81tulo_26_lzfaak.png"
        alt=""
      />
    </div>
  </div>
</div>
