.full-page {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-image: url('https://res.cloudinary.com/ddw7odxzr/image/upload/v1696042471/webapp/FONDO_zftidw.jpg') !important;
}

.card-header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: #979797 solid 1px;
    margin-top: 25% !important;
    padding-bottom: 0;
}

.card-title {
    font-weight: 400 !important;
    color: #000 !important;
    margin-top: 50px !important;
    font-size: 1.7rem !important;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70% !important;
    margin: 0 auto;
}

.logo img {
    width: 40%;
}

::-webkit-scrollbar {
    display: none;
}

.container-form {
    height: 100vh;
    background-color: #ffff;
    overflow: auto;
}

.form {
   padding: 0 10%;
}

.rounded-pill {
    border-radius: 10px !important;
}


.link {
    color: #000 !important;
}