<div class="full-page lock-page">
  <div class="row">
    <div class="col-lg-5  container-form mr-auto">
      <div class="card card-login card-white shadow-none">
        <div class="card-header pb-1 mt-5 pl-5 pr-5 text-center">
          <div class="mx-auto  my-auto logo">
            <img src="https://res.cloudinary.com/app-intcapex-com/image/upload/v1680689760/LOGO_LOGIN-30_xmssxz.svg" alt="Logo" >
          </div>
          <h1 class="card-title">
            Recuperar Contraseña
          </h1> 
        </div>
      </div>
      <div>
        <p class="card-text text-center ">
          Ingresa al dashboard y entérate de todo lo que podrías hacer.
        </p>
      </div>
      <div class="card-body  ">
        <form 
          class="form" 
          [formGroup]="form" 
          (ngSubmit)="recoverUser(form.value)" 
          role="form" 
        >

            <div class="form-group text-left ">
              <label for="email"
                >Email: {{emailField?.value | lowercase}} </label
              >
              <input 
                type="email" 
                class="form-control rounded-pill shadow " 
                formControlName="email"  
                placeholder="Escriba su email"
                id="email"
              >
              <ng-container 
                *ngFor="
                  let validation of validationMessages
                    .email
                "
              >
                <small 
                  class="form-text text-danger" 
                  *ngIf="
                    emailField?.hasError(validation.type) &&
                    emailFieldDirty 
                  "
                >
                  {{validation.message}}
                </small>
              </ng-container>
            </div>
            <ng-container 
              *ngIf="errorMessage"
            >
              <small 
                class="text-danger d-block" 
                *ngFor="let e of errorMessage | keyvalue"
              >
                {{e.value}}
              </small> <br>
            </ng-container>
          
          <div class=" text-center ">
            <button 
              class=" 
                btn btn-secundary btn-lg
                btn-block mb-3 rounded-pill
              " 
              [disabled]="form.invalid" 
              type="submit"
            > 
              Restablecer contraseña 
            </button>
            <h6>
              <a class=" link footer-link " routerLink="/sign-up">
                ¿No tienes una cuenta? <strong>Crear una cuenta Aquí</strong>
              </a>
            </h6>
          </div>
        
        </form>
      </div>
    </div>
    <div class="col-lg-7 img d-flex align-items-end  " >
      <div class="row  ">
        <div class="col-12  text-center">
          <div class="row text-center">
            <div class=" slide-title col-6 ml-auto mr-auto ">
              <h3>{{slidesTitle}}</h3>
            </div>
            <div class="col-11  mr-auto ml-auto text-center mb-3 ">
              <div class="carousel text-center pt-4 pb-3" style="width: 100%;">
                <div style="width: 100%;">
                  <carousel 
                          [itemsPerSlide]="itemsPerSlide"
                          [singleSlideOffset]="false"
                          [interval]="3000"
                          [showIndicators]="true"
                          [indicatorsByChunk]="true"
                          (slideRangeChange)="onSlideRangeChange($event)">
                    <slide style="margin-left: 10px; " *ngFor="let slide of slides; let index=index">
                      <img [src]="slide.image" alt="image slide" style=" margin-bottom: 5px; display: inline-block; width: 70px; height: 50px; text-align: center;">
                      <div >
                        <p style="font-size: .9rem; color: white;" >{{ slide.message }}</p>
                      </div>
                    </slide>
                  </carousel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>