<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Nuevos</h5>
              <h2 class=" card-title">Usuarios</h2>
            </div>
            <div class=" col-sm-6">
              <!--<div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class=" btn btn-sm btn-primary btn-simple" (click)="
                    data = datasets[0];
                    updateOptions();
                    clicked = true;
                    clicked1 = false;
                    clicked2 = false
                  " [ngClass]="{ active: clicked === true }">
                  <input checked="checked" name="options" type="radio" />

                  <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Nuevos usuarios
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-primary btn-simple" (click)="
                    data = datasets[1];
                    updateOptions();
                    clicked = false;
                    clicked1 = true;
                    clicked2 = false
                  " [ngClass]="{ active: clicked1 === true }">
                  <input class=" d-none d-sm-none" name="options" type="radio" />

                  <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Ingresos generados
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-primary btn-simple" (click)="
                    data = datasets[2];
                    updateOptions();
                    clicked = false;
                    clicked1 = false;
                    clicked2 = true
                  " [ngClass]="{ active: clicked2 === true }">
                  <input class=" d-none" name="options" type="radio" />

                  <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    Sessions
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>-->
            </div>

          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area" id="chart"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1643906005/assets/Super%20Admin/icono-estudiantes-totales_vedx69.png" alt="Estudiantes totales">
              <!--<div class=" info-icon text-center icon-primary">
                <i class=" tim-icons icon-single-02"> </i>
              </div>-->
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Estudiantes totales</p>
                <h3 class=" card-title">{{total_students}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <hr />
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1643906005/assets/Super%20Admin/icono-estudiantes-activos_qkeici.png" alt="Estudiantes activos">
              <!--<div class=" info-icon text-center icon-primary">
                <i class=" tim-icons icon-coins"> </i>
              </div>-->
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Estudiantes activos</p>
                <h3 class=" card-title">27</h3>
              </div>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <hr />
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1643906005/assets/Super%20Admin/icono-tutores-registrados_a5e5tj.png" alt="Tutores registrados">
              <!--<div class=" info-icon text-center icon-primary">
                <i class=" tim-icons icon-single-02"> </i>
              </div>-->
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Tutores registrados</p>
                <h3 class=" card-title">{{total_teachers}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <hr />
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <!--<img src="pic_trulli.jpg" alt="Italian Trulli">-->
              <div class=" info-icon text-center icon-primary">
                <i class=" tim-icons icon-molecule-40"> </i>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Administradores</p>
                <h3 class=" card-title">{{total_admins}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <hr />
        </div>
      </div>
    </div>
    <div class=" col-lg-3">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Curso</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-paper text-primary"> </i> Curso de FOREX
          </h4>
        </div>
        <div class=" card-body">
          <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1644503094/assets/Super%20Admin/curso-forex_hjrwmu.png" alt="Curso de Forex">
          <!--<div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>-->
        </div>
        <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <button class="btn btn-simple btn-primary btn-sm" type="submit">
                      <i class="tim-icons icon-pencil text-primary"> </i> Editar Curso</button>
                  </div>
                </div>
      </div>
    </div>
    <div class=" col-lg-3">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Curso</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-paper text-primary"> </i> Curso de Crypto
          </h4>
        </div>
        <div class=" card-body">
          <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1644503094/assets/Super%20Admin/curso-crypto_juwm6w.png" alt="Curso de Crypto">
          <!--<div class=" chart-area"><canvas id="CountryChart"> </canvas></div>-->
        </div>
        <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <button class="btn btn-simple btn-primary btn-sm" type="submit">
                      <i class="tim-icons icon-pencil text-primary"> </i> Editar Curso</button>
                  </div>
                </div>
      </div>
    </div>
    <div class=" col-lg-3">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Curso</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-paper text-primary"> </i> Curso de Indices
          </h4>
        </div>
        <div class=" card-body">
          <!--<div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>-->
          <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1644503094/assets/Super%20Admin/curso-indices_g3aods.png" alt="Curso de Indices">
        </div>
        <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <button class="btn btn-simple btn-primary btn-sm" type="submit">
                      <i class="tim-icons icon-pencil text-primary"> </i> Editar Curso</button>
                  </div>
                </div>
      </div>
    </div>
    <div class=" col-lg-3">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Curso</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-paper text-primary"> </i> Curso de ???
          </h4>
        </div>
        <div class=" card-body">
          <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1644503094/assets/Super%20Admin/curso-forex_hjrwmu.png" alt="Curso de ????">
          <!--<div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>-->
        </div>
        <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <button class="btn btn-simple btn-primary btn-sm" type="submit">
                      <i class="tim-icons icon-pencil text-primary"> </i> Editar Curso</button>
                  </div>
                </div>
      </div>
    </div>
  </div>
</div>