<div class=" content">
  <div class=" row" id="dashboard">
    <div class=" col-12">
      <div class="row">
        <div class="col-6">
          <h1 class="title-table">INICIO</h1>
        </div>
        <div class="col-6 text-right d-none d-lg-block d-md-none d-lg-none">
          <button class="btn btn-simple btn-secondary btn-lg" type="button" routerLink="/roles">REGISTRAR USUARIO</button>
        </div>
      </div>
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">NUEVOS</h5>
              <h2 class=" card-title">Usuarios</h2>
            </div>
            <div class=" col-sm-6">
            </div>
          </div>
        </div>
        <div class=" card-body">
          <!--GRAFICA DE NUEVOS ESTUDIANTES (bug)-->
          <div class=" chart-area">
            <canvas id="chartBig1"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <div class=" info-icon text-center icon-primary">
                <span>
                  <img
                    src="https://res.cloudinary.com/app-intcapex-com/image/upload/v1655661734/assets/icons/total-estudiantes_hk0eyi.png"
                    alt="">
                </span>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Estudiantes totales</p>
                <h3 class=" card-title">{{total_students}}</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <div class=" info-icon text-center icon-primary">
                <span><img
                    src="https://res.cloudinary.com/mistrades-com/image/upload/v1643906005/assets/Super%20Admin/icono-estudiantes-activos_qkeici.png"
                    alt=""></span>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Subscriptores</p>
                <h3 class=" card-title">{{total_students}}</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <div class=" info-icon text-center icon-primary">
                <span><img
                    src="https://res.cloudinary.com/app-intcapex-com/image/upload/v1655661807/assets/icons/tutores-registrados_iednrq.png"
                    alt=""></span>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Tutores registrados</p>
                <h3 class=" card-title">{{total_teachers}}</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class=" col-lg-3 col-md-6">
      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-5">
              <div class=" info-icon text-center icon-primary">
                <span><img
                    src="https://res.cloudinary.com/mistrades-com/image/upload/v1644799785/assets/Super%20Admin/icono-adminitrador_iamzej.png"
                    alt=""></span>
              </div>
            </div>
            <div class=" col-7">
              <div class=" numbers">
                <p class=" card-category">Administradores</p>
                <h3 class=" card-title">{{total_admins}}</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row" style="width: 100% !important;">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Cursos</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right d-none d-lg-block d-md-none d-lg-none">
        <button class="btn btn-primary " routerLink="/course-by-steps"  type="button">CREAR CURSO</button>
      </div>
      <hr style="width: 100%;" color="cyan">
      <div *ngFor="let c of courses" class="col-lg-3 col-md-3 col-sm-12 col-sm-12">
        <div class="card">
          <img class="card-img-top" [src]="c?.path_preview_image" style="width: 100%;
          height: 200px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">{{ (c.title.length > 20 ? c.title  + '...' : c.title) | uppercase }} </h5>
            <button class="btn btn-simple btn-secondary btn-block" type="button" (click)="goToCourseDetail(c.id)">IR AL
              CURSO</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>