<div class="content">
  <ol class=" breadcrumb bg-transparent ml-3">
    <li class=" breadcrumb-item text-primary">
        <a routerLink="/trading-area">
          Area Trading
        </a> 
    </li>
    <li class=" breadcrumb-item">
        Funding Program
    </li>
  </ol>
  <h3>Empieza a operar</h3>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card card-stats trial text-center">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3 class="card-title">Cuenta Demo</h3>
            </div>
          </div> 
        </div>
        <div class="card-footer">
          <hr />
          <p class="stats">Opere hasta $200,000 en la EURO Account</p>
          <br />
          <p class="stats">Practica gratis con nuestra cuenta demo ahora.</p>
          <br>
          <p class="stats">
            Demuestre sus habilidades de trading completando nuestras fases.
          </p>
        </div>
        <div class="card-footer">
          <button routerLink="./create-pack" class="btn btn-secondary btn-lg mb-3 ">
            Comprar
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 ">
      <div class="card card-stats trial text-center ">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3 class="card-title">Challenge ICEX Funding</h3>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <br>
          <p class="stats">Opere hasta $200,000 en la EURO Account</p>
          <br />
          <p class="stats">
            Demuestre sus habilidades de trading completando nuestras fases.
          </p>
          <br>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary btn-lg mb-3 ">
            Comprar
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="card card-stats text-center shadow-custom">
        <div class="row card-footer">
          <div class="col-12">
            <h3>Objetivos del challenge</h3>
            <hr />
          </div>
          <div class="col-4">
            <p class="stats"><i class="fas fa-check-circle"></i>Profit fase 2 a lograr en 30 dias</p>
            <p class="stats"><i class="fas fa-check-circle"></i>Minimo de dias de trading 1</p>
          </div>
          <div class="col-4">
            <p class="stats"><i class="fas fa-check-circle"></i>5% drowdown diario</p>
            <p class="stats"><i class="fas fa-check-circle"></i>10% drowdown total</p>
            <p class="stats"><i class="fas fa-check-circle"></i>Profit fase 1 a lograr en 30 dias</p>
          </div>
          <div class="col-4">
            <p class="stats"><i class="fas fa-check-circle"></i>Reparto beneficio 75%</p>
            <p class="stats"><i class="fas fa-check-circle"></i>Sin restricciones de trading</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
