<div class=" card text-left">
    <form [formGroup]="quizForm" (ngSubmit)="editQuiz(quizForm.value)" role="form">
        <div class=" card-header">
            <h4 class=" card-title">Crear exámen</h4>
        </div>
        <div class="card-body row">
            <div class="  col-md-6">
                <label> Pregunta </label>
                <div class=" form-group">
                    <textarea class="form-control" formControlName="question" placeholder="Ingrese las pregunta"
                        rows="2" [(ngModel)]="quiz.question" required></textarea>
                </div>
                <ng-container *ngFor="let validation of validationMessages.title">
                    <small class="text-danger d-block" *ngIf="createUserForm.get('title').hasError(validation.type) &&
                                (createUserForm.get('title').dirty || createUserForm.get('title').touched) ">
                        {{validation.message}}
                    </small>
                </ng-container>
                <fieldset class="form-group">
                    <h4 class=" card-title">Respuestas</h4>

                    <label>1. Opción </label>
                    <div class=" form-group">
                        <textarea class="form-control" formControlName="optionOne"
                            placeholder="Ingrese la primera opción de respuesta" [(ngModel)]="quiz.answers[0].option"
                            rows="2"></textarea>
                    </div>

                    <label>2. Opción </label>
                    <div class=" form-group">
                        <textarea class="form-control" formControlName="optionTwo"
                            placeholder="Ingrese la segunda opción de respuesta" [(ngModel)]="quiz.answers[1].option"
                            rows="2"></textarea>
                    </div>

                    <label>3. Opción </label>
                    <div class=" form-group">
                        <textarea class="form-control" formControlName="optionThree"
                            placeholder="Ingrese la tercera opción de respuesta" [(ngModel)]="quiz.answers[2].option"
                            rows="2"></textarea>
                    </div>

                    <label>4. Opción</label>
                    <div class=" form-group">
                        <textarea class="form-control" formControlName="optionFour"
                            placeholder="Ingrese la cuarta opción de respuesta" [(ngModel)]="quiz.answers[3].option"
                            rows="2"></textarea>
                    </div>


                </fieldset>

            </div>
            <div class=" col-md-6">
                <label> Respuesta correcta </label>
                <select class="form-select form-group d-block" formControlName="answer" size="4">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

                <label> Curso </label>
                <select class="form-select form-group d-block" formControlName="course" size="4">
                    <option *ngFor="let c of courses" [value]="c?.id">{{ c?.title | titlecase}}</option>
                </select>
                <ng-container *ngFor="let validation of validationMessages.description">
                    <small class="text-danger d-block"
                        *ngIf="createUserForm.get('description').hasError(validation.type) &&
                                (createUserForm.get('description').dirty || createUserForm.get('description').touched) ">
                        {{validation.message}}
                    </small>
                </ng-container>

                <ng-container *ngIf="errorMessage">
                    <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small> <br>
                </ng-container>

                <div class="mt-2">
                    <h6>Instrucciones</h6>
                    <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur dignissimos sunt
                        molestiae reprehenderit ullam sapiente consequuntur, unde porro ratione recusandae eaque quia
                        architecto pariatur quo totam distinctio repudiandae hic? Sunt.</small>
                </div>

            </div>

        </div>
        <div class=" card-footer">
            <button class=" btn btn-fill btn-primary" [disabled]="quizForm.invalid" type="submit">
                Enviar
            </button>
            <button class=" btn btn-fill btn-danger ml-2" (click)="cancelCreate()" type="button">
                Cancelar
            </button>
        </div>
    </form>
</div>