<div class="content admin-area-page" [ngClass]="{'class-user' : userDataService?.userData$?.value?.rol === 'student'}">
    <div class="row admin-area-breadcrumb-row">
        <div class="col-12">
            <nav aria-label="Migas de pan">
                <ol class="breadcrumb bg-transparent mb-0 px-0">
                    <li class="breadcrumb-item text-primary">
                        <a routerLink="/referrals">Back office</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Curso</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
            <div class="col-12">

                <div class="headings d-flex justify-content-between align-items-center mb-3">
                    <h2 class="title m-0">{{ course?.title | uppercase}}</h2>

                    <button type="button" class="btn btn-primary" [routerLink]="['/test', courseId]">Presentar
                        exámen</button>
                </div>



                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row" *ngFor="let t of course.modules">
                            <div class="col-12">
                                <h3 class="text-secondary">{{t?.name | titlecase}}</h3>
                            </div>
                            <div class="col-12" *ngIf="t?.topics.length > 0">
                                <div class="card">
                                    <div class="card-body">

                                        <!-- Timeline -->
                                        <ul class="timeline">
                                            <a *ngFor="let c of t?.topics" class="nav-link " href="javascript:void(0)"
                                                (click)="goToTopicDetail(c.id)" [class]="c.seen ?  'seen' : 'no-seen '">
                                                <li
                                                    class="timeline-item bg-transparent rounded ml-3 p-4 shadow nav-item">
                                                    <h2 class="h3 text-secondary mb-0">{{c?.title | titlecase}}</h2>
                                                </li>
                                            </a>
                                        </ul>
                                        <!-- End -->

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                        <img [src]="course?.path_preview_image" class="img-fluid img-responsive" alt="Responsive image">
                        <p class="mt-2">{{ course?.description }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>