<div class=" content">
    <div class=" row">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item text-primary">Dashboard</li>
            <li class=" breadcrumb-item active">Cursos</li>
        </ol>
        <div class="offset-1 col-md-10">
            <div class="video-player-wrapper">

                <h2>{{ course?.title | uppercase}}</h2>

                <div *ngFor="let t of course.modules" class="row">
                    <div class="col-12">
                        <h3>{{t?.name | titlecase}}</h3>
                    </div>
                    <div *ngFor="let c of t?.topics" class="col-4">
                        <div class="card" style="width: 18rem;">
                            <video [src]="c?.video" controls controlsList="nodownload"></video>
                            <div class="card-body">
                                <h5 class="card-title">{{c?.title | titlecase}}</h5>
                                <p class="card-text">{{c?.description}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <vg-player>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>

                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>

                    <vg-controls>
                        <vg-play-pause></vg-play-pause>
                        <vg-playback-button></vg-playback-button>

                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                        <vg-track-selector></vg-track-selector>
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>

                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>

                    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
                        <source [src]="source" >
                    </video>
                </vg-player> -->




            </div>
        </div>
    </div>
</div>