<div class="content admin-area-page">
  <div class="row admin-area-breadcrumb-row">
    <div class="col-12">
      <nav aria-label="Migas de pan">
        <ol class="breadcrumb bg-transparent mb-0 px-0">
          <li class="breadcrumb-item text-primary">
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">Roles</li>
          <ng-container *ngIf="showFormCreateUser">
            <li class="breadcrumb-item active" aria-current="page">Crear</li>
          </ng-container>
          <ng-container *ngIf="showFormEditUser">
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
          </ng-container>
        </ol>
      </nav>
    </div>
  </div>

  <ng-container *ngIf="!showFormCreateUser && !showFormEditUser">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="tools float-right">
              <button
                class="btn btn-primary btn-sm mr-1 d-inline"
                (click)="createUser()"
                type="button"
              >
                CREAR
              </button>
            </div>
            <h4 class="card-title title-table">{{ role | uppercase }}</h4>
          </div>
          <!-- Card header -->
          <!-- <div class="card-header">
            <h3 class="mb-0">Selecting Rows</h3>
            <p class="text-sm mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              accusamus voluptas perspiciatis odit fuga optio nemo. Libero
              labore, at quia assumenda amet sint, suscipit non reprehenderit
              cumque praesentium aut id!
            </p>
          </div> -->
          <div class="card-body">
            <div class="dataTables_wrapper py-4">
              <div class="row filters mb-5 mx-2 py-2">
                <div class="col-sm-12 col-md-4 my-auto">
                  <div class="dataTables_length" id="datatable_length">
                    <label>
                      Filas
                      <select
                        name="datatable_length"
                        aria-controls="datatable"
                        class="form-control form-control-sm"
                        (change)="entriesChange($event)"
                      >
                        <option value="10" [selected]="entries == 10">
                          <p>10</p>
                        </option>
                        <option value="25" [selected]="entries == 25">
                          25
                        </option>
                        <option value="50" [selected]="entries == 50">
                          50
                        </option>
                        <option value="-1" [selected]="entries == -1">
                          All
                        </option>
                      </select>
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-8">
                  <div id="datatable_filter" class="dataTables_filter">
                    <label>
                      Filtros
                      <!-- <div class="col-xs-12 col-12 col-md-4 form-group mb-3"> -->
                      <input
                        type="text"
                        placeholder="Selecciona el rango de fecha"
                        class="form-control form-control-sm"
                        [bsConfig]="bsConfig"
                        [(ngModel)]="bsRangeValue"
                        (bsValueChange)="onValueChange($event)"
                        bsDaterangepicker
                      />
                      <!-- </div> -->
                    </label>
                    <label class="search-label">
                      <input
                        type="search"
                        class="form-control form-control-sm mr-2 search-input"
                        placeholder="Buscar"
                        aria-controls="datatable"
                        (keyup)="filterTable($event)"
                      />
                      <i class="fas fa-search search-icon"></i>
                    </label>
                    <button
                      class="btn btn-secondary btn-fab btn-icon btn-round"
                      (click)="resetFilters()"
                    >
                      <i class="tim-icons icon-refresh-01"></i>
                    </button>
                  </div>
                </div>
              </div>

              <ngx-datatable
                id="print-section"
                class="bootstrap selection-cell"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="entries != -1 ? entries : undefined"
                [rows]="temp"
                [selected]="selected"
                (activate)="onActivate($event)"
                (select)="onSelect($event)"
              >
                <!-- <ngx-datatable-column name="#" prop="idx">
                </ngx-datatable-column> -->
                <ngx-datatable-column
                  name="ID"
                  prop="id"
                  class="id"
                  width="50"
                ></ngx-datatable-column>
                <ngx-datatable-column name="Nombre" prop="first_name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.first_name | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apellido" prop="last_name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.last_name | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="username">
                </ngx-datatable-column>
                <ngx-datatable-column name="Cedula" prop="identity_card">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.identity_card | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Fecha de registro"
                  prop="date_joined"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.date_joined | date }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="C.C Referido"
                  prop="deferred_document_number"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.deferred_document_number | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a
                      class="btn btn-primary btn-link btn-sm btn-icon"
                      [routerLink]="['./details/', row?.id]"
                      tooltip="Detalles"
                      type="button"
                    >
                      <i class="tim-icons icon-zoom-split"> </i>
                    </a>
                    <button
                      class="btn btn-green btn-link btn-sm btn-icon"
                      (click)="editUser(row)"
                      tooltip="Editar"
                      type="button"
                    >
                      <i class="tim-icons icon-pencil"> </i>
                    </button>
                    <button
                      class="btn btn-danger btn-link btn-sm"
                      (click)="deleteUser(row?.id)"
                      tooltip="Eliminar"
                      type="button"
                    >
                      <i class="tim-icons icon-simple-remove"> </i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
    <div class="row" *ngIf="showFormCreateUser || showFormEditUser">
      <ng-container *ngIf="showFormCreateUser">
        <div class="col-md-12">
          <app-create-user
            (showEvent)="changeStateShow($event)"
          ></app-create-user>
        </div>
      </ng-container>
      <ng-container *ngIf="showFormEditUser">
        <div class="col-md-12">
          <app-edit-user
            (showEvent)="changeStateShow($event)"
            [user]="userEdit"
          ></app-edit-user>
        </div>
      </ng-container>
    </div>
</div>
