<div class="content">
  <div class="row">
    <ol class="breadcrumb bg-transparent ml-3">
      <li class="breadcrumb-item text-primary">
        <a routerLink="/dashboard"> Dashboard </a>
      </li>
      <li class="breadcrumb-item">Roles</li>
      <ng-container *ngIf="showFormCreateUser">
        <li class="breadcrumb-item active">Crear</li>
      </ng-container>
      <ng-container *ngIf="showFormEditUser">
        <li class="breadcrumb-item active">Editar</li>
      </ng-container>
    </ol>

    <ng-container *ngIf="!showFormCreateUser && !showFormEditUser">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="tools float-right">
              <button
                class="btn btn-primary btn-sm mr-1 d-inline"
                (click)="createUser()"
                type="button"
              >
                CREAR
              </button>
            </div>
            <h4 class="card-title title-table">{{ role | uppercase }}</h4>
          </div>
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">Selecting Rows</h3>
            <p class="text-sm mb-0">
              This is an exmaple of datatable using the well known ngx-datatable
              plugin. This is a minimal setup in order to get started fast.
            </p>
          </div>
          <div class="card-body">
            <div class="dataTables_wrapper py-4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="datatable_length">
                    <label>
                      Show
                      <select
                        name="datatable_length"
                        aria-controls="datatable"
                        class="form-control form-control-sm"
                        (change)="entriesChange($event)"
                      >
                        <option value="10" [selected]="entries == 10">
                          10
                        </option>
                        <option value="25" [selected]="entries == 25">
                          25
                        </option>
                        <option value="50" [selected]="entries == 50">
                          50
                        </option>
                        <option value="-1" [selected]="entries == -1">
                          All
                        </option>
                      </select>
                      entries
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="datatable_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        class="form-control form-control-sm"
                        placeholder="Search records"
                        aria-controls="datatable"
                        (keyup)="filterTable($event)"
                      />
                    </label>
                  </div>
                </div>
              </div>

              <ngx-datatable
                id="print-section"
                class="bootstrap selection-cell"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="entries != -1 ? entries : undefined"
                [rows]="temp"
                [selected]="selected"
                (activate)="onActivate($event)"
                (select)="onSelect($event)"
              >
                <ngx-datatable-column name="#" prop="idx">
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="ID"
                  prop="id"
                ></ngx-datatable-column>
                <ngx-datatable-column name="Nombre" prop="first_name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.first_name | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apellido" prop="last_name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.last_name | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="username">
                </ngx-datatable-column>
                <ngx-datatable-column name="Teléfono" prop="phone_number">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.phone_number | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Fecha de registro"
                  prop="date_joined"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.date_joined | date }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a
                      class="btn btn-primary btn-link btn-sm btn-icon"
                      [routerLink]="['./details/', row?.id]"
                      tooltip="Detalles"
                      type="button"
                    >
                      <i class="tim-icons icon-zoom-split"> </i>
                    </a>
                    <button
                      class="btn btn-success btn-link btn-sm btn-icon"
                      (click)="editUser(row)"
                      tooltip="Editar"
                      type="button"
                    >
                      <i class="tim-icons icon-pencil"> </i>
                    </button>
                    <button
                      class="btn btn-danger btn-link btn-sm"
                      (click)="deleteUser(row?.id)"
                      tooltip="Eliminar"
                      type="button"
                    >
                      <i class="tim-icons icon-simple-remove"> </i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
          <!-- <div class="card-body">
            <div class="dataTables_wrapper py-4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="datatable_length">
                    <label>
                      Filas
                      <select
                        name="datatable_length"
                        aria-controls="datatable"
                        class="form-control form-control-sm"
                        (change)="entriesChange($event)"
                      >
                        <option value="10" [selected]="entries == 10">
                          10
                        </option>
                        <option value="25" [selected]="entries == 25">
                          25
                        </option>
                        <option value="50" [selected]="entries == 50">
                          50
                        </option>
                        <option value="-1" [selected]="entries == 100">
                          100
                        </option>
                      </select>
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="datatable_filter" class="dataTables_filter">
                    <label>
                      Fechas
                      <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                        <input
                          type="text"
                          placeholder="Daterangepicker"
                          class="form-control form-control-sm"
                          [bsConfig]="bsConfig"
                          [(ngModel)]="bsRangeValue"
                          bsDaterangepicker
                        />
                      </div>
                    </label>
                    <label>
                      Filtros
                      <select
                        name="datatable_filters"
                        aria-controls="datatable"
                        class="form-control form-control-sm"
                        (change)="filterChange($event)"
                      >
                        <option selected="true" disabled="disabled">
                          Seleccionar filtro
                        </option>
                        <option value="id">id</option>
                        <option value="first_name">nombre</option>
                        <option value="last_name">apellido</option>
                        <option value="username">email</option>
                        <option value="subscription">subscripción</option>
                        <option value="identity_card">documento</option>
                        <option value="phone_number">teléfono</option>
                        <option value="deferred_name">nombre referido</option>
                        <option value="deferred_document_number">
                          docu. referido
                        </option>
                        <option value="referral_code">código referido</option>
                      </select>
                    </label>
                    <label>
                      <input
                        type="search"
                        class="form-control form-control-sm"
                        placeholder="Search records"
                        aria-controls="datatable"
                        #search
                      />
                    </label>
                    <button
                      class="btn btn-primary btn-fab btn-icon btn-round"
                      (click)="resetFilters()"
                    >
                      <i class="tim-icons icon-refresh-01"></i>
                    </button>
                  </div>
                </div>
              </div>

              <ngx-datatable
                id="print-section"
                class="bootstrap selection-cell"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="entries != -1 ? entries : undefined"
                [rows]="temp"
                [selected]="selected"
                [selectionType]="'multiClick'"
                (activate)="onActivate($event)"
                (select)="onSelect($event)"
              >
                <ngx-datatable-column name="ID" prop="id">
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre" prop="first_name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.first_name | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apellido" prop="last_name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.last_name | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="username">
                </ngx-datatable-column>
                <ngx-datatable-column name="Teléfono" prop="phone_number">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.phone_number | titlecase }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Fecha de registro"
                  prop="date_joined"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.date_joined | date }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a
                      class="btn btn-primary btn-link btn-sm btn-icon"
                      [routerLink]="['./details/', row?.id]"
                      tooltip="Detalles"
                      type="button"
                    >
                      <i class="tim-icons icon-zoom-split"> </i>
                    </a>
                    <button
                      class="btn btn-success btn-link btn-sm btn-icon"
                      (click)="editUser(row)"
                      tooltip="Editar"
                      type="button"
                    >
                      <i class="tim-icons icon-pencil"> </i>
                    </button>
                    <button
                      class="btn btn-danger btn-link btn-sm"
                      (click)="deleteUser(row?.id)"
                      tooltip="Eliminar"
                      type="button"
                    >
                      <i class="tim-icons icon-simple-remove"> </i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div> -->
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="showFormCreateUser">
      <div class="col-md-12">
        <app-create-user
          (showEvent)="changeStateShow($event)"
        ></app-create-user>
      </div>
    </ng-container>
    <ng-container *ngIf="showFormEditUser">
      <div class="col-md-12">
        <app-edit-user
          (showEvent)="changeStateShow($event)"
          [user]="userEdit"
        ></app-edit-user>
      </div>
    </ng-container>
  </div>
</div>
