<div class="full-page login-page ">
  <div class=" content">
    <div class=" container">
      <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
        <form class=" form" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" role="form">
          <div class=" card card-login card-white">
            <div class=" card-header ">
              <h1 class=" card-title "> Iniciar <br/>  sesión</h1> 
            </div>
            <div class=" card-body">
 
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" [formControl]="email" aria-describedby="emailHelp"
                  placeholder="Escriba su email">
                <ng-container *ngFor="let validation of validationMessages.email">
                  <small class="form-text text-danger" *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Contraseña</label>
                <input type="password" class="form-control" [formControl]="password" placeholder="Contraseña" aria-describedby="password">
                <ng-container *ngFor="let validation of validationMessages.password">
                  <small class="form-text text-danger" *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>

              <ng-container *ngIf="errorMessage">
                <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small> <br>
              </ng-container>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-secondary btn-lg btn-block mb-3" [disabled]="loginForm.invalid" type="submit">
                Iniciar sesión
              </button>
              <!-- <div class=" pull-left">
                <h6>
                  <a class=" link footer-link" routerLink="/sign-up">
                    Crear cuenta
                  </a>
                </h6>
              </div> -->
              <div class=" pull-right">
                <h6>
                  <a class=" link footer-link" routerLink="/forget-password">
                    Olvidó su cuenta?
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="full-page login-page ">
  <div class=" content">
    <div class=" container">
      <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
        <form class=" form" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" role="form">
          <div class=" card card-login card-white">
            <div class=" card-header ">
              <h1 class=" card-title "> Iniciar <br/>  sesión</h1> 
            </div>
            <div class=" card-body">
 
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp"
                  placeholder="Escriba su email">
                <ng-container *ngFor="let validation of validationMessages.email">
                  <small class="form-text text-danger" *ngIf="loginForm.get('email').hasError(validation.type) &&
                          (loginForm.get('email').dirty || loginForm.get('email').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Contraseña</label>
                <input type="email" class="form-control" formControlName="password" placeholder="Contraseña"
                  type="password" aria-describedby="password">
                <ng-container *ngFor="let validation of validationMessages.password">
                  <small class="form-text text-danger" *ngIf=" loginForm.get('password').hasError(validation.type) &&
                      (loginForm.get('password').dirty ||
                        loginForm.get('password').touched) ">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>

              <ng-container *ngIf="errorMessage">
                <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small> <br>
              </ng-container>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-secondary btn-lg btn-block mb-3" [disabled]="loginForm.invalid" type="submit">
                Iniciar sesión
              </button>
               <div class=" pull-left">
                <h6>
                  <a class=" link footer-link" routerLink="/sign-up">
                    Crear cuenta
                  </a>
                </h6>
              </div> 
              <div class=" pull-right">
                <h6>
                  <a class=" link footer-link" routerLink="/forget-password">
                    Olvidó su cuenta?
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->