.full-page {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-image: url('https://res.cloudinary.com/app-intcapex-com/image/upload/v1655598112/assets/fondo_fyiehj.jpg') !important;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 286px;
    border-bottom: #979797 solid 1px;
    padding-bottom: 0;
}

.card-title {
    font-weight: 400 !important;
    color: #000 !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
    font-size: 1.7rem !important;
    text-transform: uppercase !important;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.logo img {
    width: 40%;
}

.container-form {
    height: 100vh;
    background-color: #ffff;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.rounded-pill {
    border-radius: 10px !important;
}
  
.form {
   padding: 10%;
}

.img {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-image: url('https://res.cloudinary.com/app-intcapex-com/image/upload/v1680689902/background_dfhmxk.jpg') !important;
    background-size: cover;
}

.slide-title {
    margin-bottom: -30px;
    & h3 {
        color: #fff;
    }
}
.carousel {
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.carousel h3 {
    text-align: center;
    border-bottom: none;
    margin-top: 5px;
    padding-top: 5px;
    color: #fff;

}

.carousel h4 {
    color: #fff;
}

.carousel carousel {
    width: 100% !important;
}






