<div class="full-page login-page ">
  <div class=" content">
    <div class=" container">
      <div class=" row" >
        <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
          <form class=" form" [formGroup]="form" (ngSubmit)="loginUser(form.value)" role="form">
            <div class=" card card-login card-white">
              <div class=" card-header ">
                <h1 class=" card-title "> Iniciar <br/>  sesión</h1> 
              </div>
              <div class=" card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp"
                    placeholder="Escriba su email">
                  <ng-container *ngFor="let validation of validationMessages.email">
                    <small class="form-text text-danger" *ngIf="email.hasError(validation.type) &&
                            (email.dirty || email.touched) ">
                      {{validation.message}}
                    </small>
                  </ng-container>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Contraseña</label>
                  <input type="email" class="form-control" formControlName="password" placeholder="Contraseña"
                    type="password" aria-describedby="password">
                  <ng-container *ngFor="let validation of validationMessages.password">
                    <small class="form-text text-danger" *ngIf=" password.hasError(validation.type) &&
                        (password.dirty ||
                        password.touched) ">
                      {{validation.message}}
                    </small>
                  </ng-container>
                </div>
  
                <ng-container *ngIf="errorMessage">
                  <small class="text-danger" *ngFor="let e of errorMessage | keyvalue">{{e.value}}</small> <br>
                </ng-container>
              </div>
              <div class=" card-footer">
                <div class=" form-group pull-left">
                  <p class=" link footer-link" >
                    <input  type="checkbox" formControlName="rememberPassword" >
                    <label class="  ml-1 " for="">Recordar contraseña</label>
                  </p>
                </div>
                <div class=" pull-right">
                  <h6>
                    <a class=" link footer-link" routerLink="/forget-password">
                      ¿Restablecer contraseña?
                    </a>
                  </h6>
                </div>
                <button class=" btn btn-secondary btn-lg btn-block mb-3" [disabled]="form.invalid" type="submit">
                  Iniciar sesión
                </button>
                <div class=" pull-left">
                  <h6>
                    <a class=" link footer-link" routerLink="/sign-up">
                      ¿No tienes una cuenta? <strong>Crear una cuenta Aquí</strong>
                    </a>
                  </h6>
                </div>  
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-8 col-md-6 img" >
          <!-- <img src="" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</div> 