<div class="full-page login-page">
  <div class="row">
    <div class="col-lg-5 mr-auto container-form">
      <div class="card card-login card-white shadow-none">
        <div class="card-header pb-1 mt-4 pl-5 pr-5 text-center">
          <div class="mx-auto my-auto logo">
            <img
              src="https://res.cloudinary.com/ddw7odxzr/image/upload/v1696042641/webapp/LOGO-ULTRA-REGISTRO_mjbslb.png"
              alt="Logo"
            />
          </div>
          <h1 class="card-title">Login</h1>
        </div>
        <div class="card-body">
          <p class="card-text text-center">
            Ingresa al dashboard y entérate de todo lo que podrías hacer.
          </p>
          <form
            class="form"
            [formGroup]="form"
            (ngSubmit)="loginUser(form.value)"
            role="form"
          >
            <div class="form-group">
              <label for="email"
                >Email: {{ emailField?.value | lowercase }}
              </label>
              <input
                type="email"
                class="form-control rounded-pill shadow"
                formControlName="email"
                aria-describedby="emailHelp"
                placeholder="Escriba su email"
                id="email"
              />
              <ng-container *ngFor="let validation of validationMessages.email">
                <small
                  class="form-text text-danger"
                  *ngIf="
                    emailField?.hasError(validation.type) && emailFieldDirty
                  "
                >
                  {{ validation.message }}
                </small>
              </ng-container>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                class="form-control rounded-pill shadow"
                formControlName="password"
                placeholder="Contraseña"
                id="password"
                type="password"
                aria-describedby="password"
              />
              <ng-container
                *ngFor="let validation of validationMessages.password"
              >
                <small
                  class="form-text text-danger"
                  *ngIf="
                    passwordField?.hasError(validation.type) &&
                    passwordFieldDirty
                  "
                >
                  {{ validation.message }}
                </small>
              </ng-container>
            </div>

            <ng-container *ngIf="errorMessage">
              <small
                class="text-danger"
                *ngFor="let e of errorMessage | keyvalue"
                >{{ e.value }}
              </small>
            </ng-container>
            <div class="card-footer">
              <div class="pull-right">
                <h6 class="mt-1">
                  <a
                    class="link footer-link"
                    routerLink="/forget-password"
                  >
                    ¿Restablecer contraseña?
                  </a>
                </h6>
              </div>
              <button
                class="btn btn-secondary btn-lg btn-block mb-3 rounded-pill"
                [disabled]="form.invalid"
                type="submit"
              >
                Iniciar sesión
              </button>
              <div class="pull-left">
                <h6>
                  <a class="link footer-link" routerLink="/sign-up">
                    ¿No tienes una cuenta?
                    <strong> Crear una cuenta Aquí </strong>
                  </a>
                </h6>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-flex">
      <img
        src="https://res.cloudinary.com/ddw7odxzr/image/upload/v1696624805/webapp/imagen-inicio_myuwik.png"
        alt=""
      />
    </div>
  </div>
</div>
