.full-page {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-image: url('https://res.cloudinary.com/app-intcapex-com/image/upload/v1655598112/assets/fondo_fyiehj.jpg') !important;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 286px;
    border-bottom: #979797 solid 1px;
    padding-bottom: 0;
}

.card-title {
    font-weight: 400 !important;
    color: #000 !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
    font-size: 1.7rem !important;
    text-transform: uppercase !important;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70% !important;
    margin: 0 auto;
}

.logo img {
    width: 50%;
}

.container-form {
    height: 100vh;
    background-color: #ffff;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.rounded-pill {
    border-radius: 10px !important;
}
  
.form {
   padding: 10%;
}

.img {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-image: url('https://res.cloudinary.com/app-intcapex-com/image/upload/v1680689902/background_dfhmxk.jpg') !important;
    background-size: cover;
}

.carousel {
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
/*     display: flex;
    justify-content: center; */
}

.carousel img {
    margin-top: 20px;

}

.carousel h3 {
    text-align: center;
    border-bottom: none;
    margin-top: 5px;
    padding-top: 5px;
    color: #fff;
/*     background-color: rgba($color: #152b60, $alpha: .5); */
}

.border-content {
    height: 200px;
    padding: 10px 
}


.carousel h4 {
    color: #fff;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none !important;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #ffffff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.carousel-indicators {
    display: none !important;
}

/* .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .carousel-control-prev {
    left: -50px !important;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1px; 
    height: 20px;
    width: 20px;
}
  .carousel-control-next {
    right: -50px !important;
    border: 2px solid #fff;
    border-radius: 50%;
     padding: 1px; 
    height: 20px;
    width: 20px;
  } */
