input[type="radio"] {
  display: none;
/*   position: absolute;
  opacity: 0;
  width: 0;
  height: 0; */
}

.radio-button {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000 !important;
/*   background-color: var(--secondary) */;
  font-weight: bold;
  cursor: pointer;
}

.checked {
  background-color: var(--secondary) !important;
  color: #4be8e6 !important;
}

input[type="radio"]:hover + label {
  background-color: var(--secondary) !important;
  color: #4be8e6 !important;
}

input[type="radio"]:checked + label {
  background-color: var(--secondary) !important;
  color: #4be8e6 !important;
}

.box-shadow {
  box-shadow: 0px 0px 18px 0.2px rgba(0,0,0,0.15) !important;
  border-radius: 10px;
}