.content {
    background-image: url('https://res.cloudinary.com/mistrades-com/image/upload/v1649870836/assets/fondo_r7arg0.jpg') !important;
}

.big {
    font-size: 3em !important;
    font-weight: 700 !important;
}

hr {
    border: var(--primary) 1px solid !important;
    border-radius: 12px !important;
}