<div class="full-page pricing-page">
    <div class=" content">
      <div class=" container">
        <div class=" row">
          <div class=" col-md-6 ml-auto mr-auto text-center">
            <h1 class=" title text-primary">PLAN PROFESIONAL</h1>
            <img src="https://res.cloudinary.com/mistrades-com/image/upload/v1651372059/assets/modulos-oferta_sojtpn.png" alt="">
            <h4 class=" description text-gray font-weight-bold mb-3">
              Inscríbete en nuestros 3 cursos (Forex, Cryptomonedas, indices)
            </h4>
            <div class="d-flex justify-content-center align-items-center mb-2">
              <h3 class="text-primary mr-2 mb-3">Por un Único pago de:</h3>
              <h1 class="big text-white font-weight-bold mb-3">$290.00 usd</h1>
            </div>
            <hr>
          </div>
        </div>

        <div class=" col-md-12 mt-5">
          <h3 class=" title">Plan Profesional Incluye</h3>
        </div>
        <div class=" row">
          <div class=" col-md-4">
            <p>
              Premium pricing is the strategy of consistently pricing at, or near,
              the high end of the possible price range to help attract
              status-conscious consumers. The high pricing of a premium product
              ...
            </p>
          </div>
          <div class=" col-md-6 ml-auto">
            <div class=" progress-container progress-warning">
              <span class=" progress-badge"> 500GB </span>
              <div class=" progress">
                <progressbar [value]="75"> </progressbar>
              </div>
            </div>
            <div class=" progress-container progress-primary">
              <span class=" progress-badge"> 4 years </span>
              <div class=" progress">
                <progressbar [value]="50"> </progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  